<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ "TITLE.Event_Review" | translate }}
    </p>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <!-- picker Field -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "TITLE.Enter_a_date_range" | translate }}</mat-label>
          <mat-date-range-input
            [formGroup]="checkingOnDayRange"
            [rangePicker]="picker"
            >
            <input
              matStartDate
              formControlName="start"
              placeholder="{{ 'TITLE.Start_Date' | translate }}"
              />
            <input
              matEndDate
              formControlName="end"
              placeholder="{{ 'TITLE.Start_Date' | translate }}"
              />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          @if (
            checkingOnDayRange.controls.start.hasError('matStartDateInvalid')
            ) {
            <mat-error
              >{{ "MESSAGE.InvalidStartDate" | translate }}</mat-error
              >
            }
            @if (
              checkingOnDayRange.controls.end.hasError('matEndDateInvalid')
              ) {
              <mat-error
                >{{ "MESSAGE.InvalidEndDate" | translate }}</mat-error
                >
              }
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 loader-container">
            @if (!this.publicHelper.processService.process.inRunAll) {
              <button
                type="button"
                (click)="onActionNext()"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                >
                <i class="ft-x"></i>
                <
              </button>
            }
            @if (!this.publicHelper.processService.process.inRunAll) {
              <button
                type="button"
                (click)="onActionPervious()"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                >
                <i class="ft-x"></i>
                >
              </button>
            }

            @if (!this.publicHelper.processService.process.inRunAll) {
              <button
                type="button"
                (click)="onActionToDay()"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                >
                <i class="ft-x"></i>
                {{ "TITLE.Today" | translate }}
              </button>
            }
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 loader-container">
            <!-- LinkCmsUserId Field -->
            @if (tokenHelper.isAdminSite) {
              <app-cms-user-selector
                (optionChange)="onActionSelectorUser($event)"
                [optionSelectForce]="linkCmsUserId"
                [optionPlaceholder]="'TITLE.USER' | translate"
                >
              </app-cms-user-selector>
            }
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 loader-container">
            @if (!this.publicHelper.processService.process.inRunAll) {
              <a
                href="javascript:void(0)"
                (click)="onActionButtonOnDateSearch()"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                >{{ "ACTION.SEARCH" | translate }}</a
                >
              }
            </div>
          </div>

          @if (checkingOnDayRange?.controls?.start?.value) {
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-6 loader-container"
              >
              {{ "TITLE.From_Date" | translate }}
              {{ this.checkingOnDayRange.controls.start.value | localeDateTime }}
              -
              {{ "TITLE.To_Date" | translate }}
              {{ this.checkingOnDayRange.controls.end.value | localeDateTime }}
            </div>
          }
          @if (linkCmsUserId > 0) {
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-6 loader-container"
              >
              {{ this.linkCmsUserId | cmsuserinfo | async }}
            </div>
          }
        </div>
      </div>

      @if (
        dataModelPropertyProjectResult.totalRowCount > 0 ||
        dataModelPropertySupplierResult.totalRowCount > 0 ||
        dataModelPropertyCompanyResult.totalRowCount > 0 ||
        dataModelAccountUserResult.totalRowCount > 0 ||
        dataModelAccountAgencyResult.totalRowCount > 0 ||
        dataModelHistoryResult.totalRowCount > 0 ||
        dataModelCustomerOrderResultNotAvailable.totalRowCount > 0 ||
        dataModelCustomerOrderResultAvailable.totalRowCount > 0 ||
        dataModelCustomerOrderResult.totalRowCount > 0 ||
        dataModelPropertyResultNotAvailable.totalRowCount > 0 ||
        dataModelPropertyResultAvailable.totalRowCount > 0 ||
        dataModelPropertyResult.totalRowCount > 0) {
        <div
          class="row"
          >
          @if (dataModelPropertyResult.totalRowCount > 0) {
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-6"
              >
              <!-- begin::Row -->
              <div class="card card-style loader-container">
                <app-progress-spinner [optionsInfoAreaId]="'dataModelPropertyResult'">
                </app-progress-spinner>
                <div class="content">
                  <!-- begin::accordion-->
                  <div class="accordion" id="accordion-1A">
                    <div class="mb-2">
                      <!-- begin::Header-->
                      <button
                        type="button"
                        class="btn accordion-btn no-effect color-theme"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse1A"
                        >
                        <i class="fa fa-cloud color-blue-dark me-2"></i>
                        {{ "TITLE.Property" | translate }}
                        <span class="text-muted fw-bold fs-7">{{
                          dataModelPropertyResult.totalRowCount
                        }}</span>
                        {{ "TITLE.Number" | translate }}
                        @if (dataModelPropertyResult.totalRowCount > 0) {
                          <i
                            class="fa fa-arrow-down font-10 accordion-icon"
                          ></i>
                        }
                      </button>
                      <!-- end::Header-->
                      <!-- begin::List-->
                      <div id="collapse1A" class="collapse" data-bs-parent="#accordion-1">
                        @for (item of dataModelPropertyResult.listItems; track item) {
                          <div class="divider divider-margins bg-highlight"></div>
                          @if (!item.updatedBy || item.updatedBy <= 0) {
                            <p
                              class="mb-0 color-highlight font-600 font-12"
                              >
                              {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                              <b
                                >{{ publicHelper.LocaleDate(item.createdDate) }}
                              </b>
                            }
                            {{ publicHelper.getTime(item.createdDate) }}
                          </p>
                        }
                        @if (item.updatedBy > 0) {
                          <p
                            class="mb-0 color-highlight font-600 font-12"
                            >
                            {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                            <b
                              >{{ publicHelper.LocaleDate(item.updatedDate) }}
                            </b>
                          }
                          {{ publicHelper.getTime(item.updatedDate) }}
                        </p>
                      }
                      <h4
                  (click)="
                    onActionButtonProperty(
                      item,
                      dataModelPropertyResult.listItems,
                      $event
                    )
                  "
                        style="cursor: pointer"
                        >
                        {{ item.title
                        }}<i
                        [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonProperty(
                        item,
                        dataModelPropertyResult.listItems,
                        $event
                      )
                    "
                        class="float-end"
                      ></i>
                    </h4>
                    <p>
                      {{ item.description }}
                    </p>
                    <p>
                      {{ "TITLE.USER" | translate }}:
                      <b dir="ltr">
                        {{ item.createdBy | cmsuserinfo | async }}
                      </b>
                    </p>
                    @if (
                      item.updatedBy > 0 && item.createdBy !== item.updatedBy
                      ) {
                      <p
                        >
                        {{ "TITLE.Edit" | translate }}:
                        <b dir="ltr">
                          {{ item.updatedBy | cmsuserinfo | async }}
                        </b>
                      </p>
                    }
                  }
                </div>
                <!-- end::List-->
              </div>
            </div>
            <!-- end::accordion-->
          </div>
        </div>
        <!-- end::Row -->
      </div>
    }
    @if (dataModelPropertyResultAvailable.totalRowCount > 0) {
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-6"
        >
        <!-- begin::Row -->
        <div class="card card-style loader-container">
          <app-progress-spinner
            [optionsInfoAreaId]="'dataModelPropertyResultAvailable'"
            >
          </app-progress-spinner>
          <div class="content">
            <!-- begin::accordion-->
            <div class="accordion" id="accordion-1B">
              <div class="mb-2">
                <!-- begin::Header-->
                <button
                  type="button"
                  class="btn accordion-btn no-effect color-theme"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1B"
                  >
                  <i class="fa fa-cloud color-blue-dark me-2"></i>
                  {{ "TITLE.Property_Available" | translate }}
                  <span class="text-muted fw-bold fs-7">{{
                    dataModelPropertyResultAvailable.totalRowCount
                  }}</span>
                  {{ "TITLE.Number" | translate }}
                  @if (dataModelPropertyResultAvailable.totalRowCount > 0) {
                    <i
                      class="fa fa-arrow-down font-10 accordion-icon"
                    ></i>
                  }
                </button>
                <!-- end::Header-->
                <!-- begin::List-->
                <div id="collapse1B" class="collapse" data-bs-parent="#accordion-1">
                  @for (item of dataModelPropertyResultAvailable.listItems; track item) {
                    <div class="divider divider-margins bg-highlight"></div>
                    @if (!item.updatedBy || item.updatedBy <= 0) {
                      <p
                        class="mb-0 color-highlight font-600 font-12"
                        >
                        {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                        <b
                          >{{ publicHelper.LocaleDate(item.createdDate) }}
                        </b>
                      }
                      {{ publicHelper.getTime(item.createdDate) }}
                    </p>
                  }
                  @if (item.updatedBy > 0) {
                    <p
                      class="mb-0 color-highlight font-600 font-12"
                      >
                      {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                      <b
                        >{{ publicHelper.LocaleDate(item.updatedDate) }}
                      </b>
                    }
                    {{ publicHelper.getTime(item.updatedDate) }}
                  </p>
                }
                <h4
                  (click)="
                    onActionButtonProperty(
                      item,
                      dataModelPropertyResultAvailable.listItems,
                      $event
                    )
                  "
                  style="cursor: pointer"
                  >
                  {{ item.title
                  }}<i
                  [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonProperty(
                        item,
                        dataModelPropertyResultAvailable.listItems,
                        $event
                      )
                    "
                  class="float-end"
                ></i>
              </h4>
              <p>
                {{ item.description }}
              </p>
              <p>
                {{ "TITLE.USER" | translate }}:
                <b dir="ltr">
                  {{ item.createdBy | cmsuserinfo | async }}
                </b>
              </p>
              @if (
                item.updatedBy > 0 && item.createdBy !== item.updatedBy
                ) {
                <p
                  >
                  {{ "TITLE.Edit" | translate }}:
                  <b dir="ltr">
                    {{ item.updatedBy | cmsuserinfo | async }}
                  </b>
                </p>
              }
            }
          </div>
          <!-- end::List-->
        </div>
      </div>
      <!-- end::accordion-->
    </div>
  </div>
  <!-- end::Row -->
</div>
}
@if (dataModelPropertyResultNotAvailable.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelPropertyResultNotAvailable'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-1C">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse1C"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_NotAvailable" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelPropertyResultNotAvailable.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelPropertyResultNotAvailable.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse1C" class="collapse" data-bs-parent="#accordion-1">
              @for (
                item of dataModelPropertyResultNotAvailable.listItems
                ; track
                item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
                  (click)="
                    onActionButtonProperty(
                      item,
                      dataModelPropertyResultNotAvailable.listItems,
                      $event
                    )
                  "
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonProperty(
                        item,
                        dataModelPropertyResultNotAvailable.listItems,
                        $event
                      )
                    "
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelCustomerOrderResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelCustomerOrderResult'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-2A">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2A"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Customer_Order" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelCustomerOrderResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelCustomerOrderResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse2A" class="collapse" data-bs-parent="#accordion-2">
              @for (item of dataModelCustomerOrderResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
                  (click)="
                    onActionButtonCustomerOrder(
                      item,
                      dataModelCustomerOrderResult.listItems,
                      $event
                    )
                  "
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonCustomerOrder(
                        item,
                        dataModelCustomerOrderResult.listItems,
                        $event
                      )
                    "
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelCustomerOrderResultAvailable.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelCustomerOrderResultAvailable'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-2B">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2B"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Customer_Order_Available" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelCustomerOrderResultAvailable.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelCustomerOrderResultAvailable.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse2B" class="collapse" data-bs-parent="#accordion-2">
              @for (
                item of dataModelCustomerOrderResultAvailable.listItems
                ; track
                item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
                  (click)="
                    onActionButtonCustomerOrder(
                      item,
                      dataModelCustomerOrderResultAvailable.listItems,
                      $event
                    )
                  "
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonCustomerOrder(
                        item,
                        dataModelCustomerOrderResultAvailable.listItems,
                        $event
                      )
                    "
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelCustomerOrderResultNotAvailable.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelCustomerOrderResultNotAvailable'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-2C">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2C"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Customer_Order_NotAvailable" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelCustomerOrderResultNotAvailable.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (
                dataModelCustomerOrderResultNotAvailable.totalRowCount > 0
                ) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse2C" class="collapse" data-bs-parent="#accordion-2">
              @for (
                item of dataModelCustomerOrderResultNotAvailable.listItems
                ; track
                item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
                  (click)="
                    onActionButtonCustomerOrder(
                      item,
                      dataModelCustomerOrderResultNotAvailable.listItems,
                      $event
                    )
                  "
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
                    (click)="
                      onActionButtonCustomerOrder(
                        item,
                        dataModelCustomerOrderResultNotAvailable.listItems,
                        $event
                      )
                    "
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelHistoryResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner [optionsInfoAreaId]="'dataModelHistoryResult'">
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-3">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse3"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.History" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelHistoryResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelHistoryResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse3" class="collapse" data-bs-parent="#accordion-3">
              @for (item of dataModelHistoryResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonHistory(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonHistory(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelAccountAgencyResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelAccountAgencyResult'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-4">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse4"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_agency" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelAccountAgencyResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelAccountAgencyResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse4" class="collapse" data-bs-parent="#accordion-4">
              @for (item of dataModelAccountAgencyResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonAccountAgency(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonAccountAgency(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelAccountUserResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner [optionsInfoAreaId]="'dataModelAccountUserResult'">
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-5">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse5"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_expert" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelAccountUserResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelAccountUserResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse5" class="collapse" data-bs-parent="#accordion-5">
              @for (item of dataModelAccountUserResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonAccountUser(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonAccountUser(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelPropertyCompanyResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelPropertyCompanyResult'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-6">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse6"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_Company" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelPropertyCompanyResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelPropertyCompanyResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse6" class="collapse" data-bs-parent="#accordion-6">
              @for (item of dataModelPropertyCompanyResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonPropertyCompany(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonPropertyCompany(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelPropertySupplierResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelPropertySupplierResult'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-7">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse7"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_Supplier" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelPropertySupplierResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelPropertySupplierResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse7" class="collapse" data-bs-parent="#accordion-7">
              @for (item of dataModelPropertySupplierResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonPropertySupplier(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonPropertySupplier(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
@if (dataModelPropertyProjectResult.totalRowCount > 0) {
  <div
    class="col-12 col-sm-12 col-md-6 col-lg-6"
    >
    <!-- begin::Row -->
    <div class="card card-style loader-container">
      <app-progress-spinner
        [optionsInfoAreaId]="'dataModelPropertyProjectResult'"
        >
      </app-progress-spinner>
      <div class="content">
        <!-- begin::accordion-->
        <div class="accordion" id="accordion-8">
          <div class="mb-2">
            <!-- begin::Header-->
            <button
              type="button"
              class="btn accordion-btn no-effect color-theme"
              data-bs-toggle="collapse"
              data-bs-target="#collapse8"
              >
              <i class="fa fa-cloud color-blue-dark me-2"></i>
              {{ "TITLE.Property_Project" | translate }}
              <span class="text-muted fw-bold fs-7">{{
                dataModelPropertyProjectResult.totalRowCount
              }}</span>
              {{ "TITLE.Number" | translate }}
              @if (dataModelPropertyProjectResult.totalRowCount > 0) {
                <i
                  class="fa fa-arrow-down font-10 accordion-icon"
                ></i>
              }
            </button>
            <!-- end::Header-->
            <!-- begin::List-->
            <div id="collapse8" class="collapse" data-bs-parent="#accordion-8">
              @for (item of dataModelPropertyProjectResult.listItems; track item) {
                <div class="divider divider-margins bg-highlight"></div>
                @if (!item.updatedBy || item.updatedBy <= 0) {
                  <p
                    class="mb-0 color-highlight font-600 font-12"
                    >
                    {{ "TITLE.ADD" | translate }}:@if (!viewOnlyTime) {
                    <b
                      >{{ publicHelper.LocaleDate(item.createdDate) }}
                    </b>
                  }
                  {{ publicHelper.getTime(item.createdDate) }}
                </p>
              }
              @if (item.updatedBy > 0) {
                <p
                  class="mb-0 color-highlight font-600 font-12"
                  >
                  {{ "TITLE.Edit" | translate }}:@if (!viewOnlyTime) {
                  <b
                    >{{ publicHelper.LocaleDate(item.updatedDate) }}
                  </b>
                }
                {{ publicHelper.getTime(item.updatedDate) }}
              </p>
            }
            <h4
              (click)="onActionButtonPropertyProject(item, $event)"
              style="cursor: pointer"
              >
              {{ item.title
              }}<i
              [ngClass]="item.recordStatus | statusIconClass"
              (click)="onActionButtonPropertyProject(item, $event)"
              class="float-end"
            ></i>
          </h4>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ "TITLE.USER" | translate }}:
            <b dir="ltr">
              {{ item.createdBy | cmsuserinfo | async }}
            </b>
          </p>
          @if (
            item.updatedBy > 0 && item.createdBy !== item.updatedBy
            ) {
            <p
              >
              {{ "TITLE.Edit" | translate }}:
              <b dir="ltr">
                {{ item.updatedBy | cmsuserinfo | async }}
              </b>
            </p>
          }
        }
      </div>
      <!-- end::List-->
    </div>
  </div>
  <!-- end::accordion-->
</div>
</div>
<!-- end::Row -->
</div>
}
</div>
} @else {
  <div class="row">
    <div class="col-12 col-sm-12">
      <!-- begin::Row -->
      <div class="card card-style loader-container">
        <app-progress-spinner
          [optionsInfoAreaId]="'dataModelPropertyResultNotAvailable'"
          >
        </app-progress-spinner>
        <div class="content">
          <!-- begin::accordion-->
          <div class="accordion" id="accordion-1C">
            <div class="mb-2">
              {{ "MESSAGE.NO_STATISTICAL_DATA_FOUND" | translate }}
            </div>
          </div>
          <!-- end::accordion-->
        </div>
      </div>
      <!-- end::Row -->
    </div>
  </div>
}
