<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <p>
      {{ "TITLE.Be_Careful_When_Entering_Information" | translate }}
    </p>
    <!--Content-->

    <app-cms-form-result-message
      [formInfo]="formInfo"
    ></app-cms-form-result-message>
    <form
      (ngSubmit)="onFormSubmit()"
      #vform="ngForm"
      [ngStyle]="{ direction: tokenInfo.access.direction }"
      >
      <!-- LinkMainImageId Field -->
      <div class="mb-3">
        <a
          href="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
          target="_blank"
          >
          @if (dataModel?.linkMainImageIdSrc?.length > 0) {
            <img
              style="vertical-align: middle"
              class="ntk-hover-zoom"
              aria-hidden
              src="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
              height="50"
              width="50"
              />
          }
        </a>
      </div>
      <div
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
        >
        <label for="dataModel.linkMainImageId" class="color-highlight">{{
          "MESSAGE.Photo" | translate
        }}</label>
        <input
          matInput
          type="text"
          [(ngModel)]="dataModel.linkMainImageId"
          name="dataModel.linkMainImageId"
          #LinkMainImageId
          placeholder="{{ 'TITLE.Original_File_ID' | translate }}"
          autocomplete="off"
          (click)="fileManagerOpenForm = true"
          class="form-control validate-name"
          id="dataModel.linkMainImageId"
          />
          <cms-file-manager
            (itemSelected)="onActionFileSelected($event)"
            [language]="appLanguage"
            [isPopup]="true"
            [openSelectFileDescription]="'TITLE.Select_Image' | translate"
            [(openForm)]="fileManagerOpenForm"
            [tree]="fileManagerTree"
            [openFilemanagerButtonLabelKey]="'select'"
            [openDirectUploadView]="true"
            [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"
            >
          </cms-file-manager>
        </div>
        <!-- Parent Account Selector -->
        <app-crm-account-selector
          (optionChange)="onActionSelectorParentAccount($event)"
          [optionSelectForce]="dataModel.linkParentAccountId"
          [optionPlaceholder]="fieldsInfo['linkParentAccountId']?.fieldTitle || 'Parent Account'"
          [optionDisabled]="!fieldsInfo['linkParentAccountId']?.accessEditField"
          ></app-crm-account-selector>
        <!-- Name Field -->
        <div
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
          >
          <label for="dataModel.name" class="color-highlight">{{
            fieldsInfo["name"]?.fieldTitle
          }}</label>
          <input
            matInput
            type="text"
            [(ngModel)]="dataModel.name"
            name="dataModel.name"
            #Name
            placeholder="{{ fieldsInfo['name']?.fieldTitle }}"
            maxlength="256"
            [disabled]="!fieldsInfo['name']?.accessEditField"
            class="form-control validate-name"
            id="dataModel.name"
            />
          </div>
          <!-- Alias Field -->
          <div
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
            >
            <label for="dataModel.alias" class="color-highlight">{{
              fieldsInfo["alias"]?.fieldTitle
            }}</label>
            <input
              matInput
              type="text"
              [(ngModel)]="dataModel.alias"
              name="dataModel.alias"
              #Alias
              placeholder="{{ fieldsInfo['alias']?.fieldTitle }}"
              maxlength="256"
              [disabled]="!fieldsInfo['alias']?.accessEditField"
              class="form-control validate-name"
              id="dataModel.alias"
              />
            </div>
            <!-- AccountType Enum Selector -->
            @if (fieldsInfo['accountType']?.accessWatchField) {
              <app-cms-enum-x-selector
                [optionDataListResult]="dataModelCrmAccountTypeEnumResult"
                [(model)]="dataModel.accountType"
                [optionDisabled]="!fieldsInfo['accountType']?.accessEditField"
                [optionLabel]="fieldsInfo['accountType']?.fieldTitle"
                [optionRequired]="false"
                [optionSelectFirstItem]="false"
              ></app-cms-enum-x-selector>
            }
              <!-- Industry Field -->
              <div
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                >
                <label for="dataModel.industry" class="color-highlight">{{
                  fieldsInfo["industry"]?.fieldTitle
                }}</label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="dataModel.industry"
                  name="dataModel.industry"
                  #Industry
                  placeholder="{{ fieldsInfo['industry']?.fieldTitle }}"
                  maxlength="100"
                  [disabled]="!fieldsInfo['industry']?.accessEditField"
                  class="form-control validate-name"
                  id="dataModel.industry"
                  />
                </div>
                <!-- Email Field -->
                <div
                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                  >
                  <label for="dataModel.email" class="color-highlight">{{
                    fieldsInfo["email"]?.fieldTitle
                  }}</label>
                  <input
                    matInput
                    type="email"
                    [(ngModel)]="dataModel.email"
                    name="dataModel.email"
                    #Email
                    placeholder="{{ fieldsInfo['email']?.fieldTitle }}"
                    maxlength="256"
                    [disabled]="!fieldsInfo['email']?.accessEditField"
                    class="form-control validate-name"
                    id="dataModel.email"
                    />
                  </div>
                  <!-- Phone Field -->
                  <div
                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                    >
                    <label for="dataModel.phone" class="color-highlight">{{
                      fieldsInfo["phone"]?.fieldTitle
                    }}</label>
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="dataModel.phone"
                      name="dataModel.phone"
                      #Phone
                      placeholder="{{ fieldsInfo['phone']?.fieldTitle }}"
                      maxlength="50"
                      [disabled]="!fieldsInfo['phone']?.accessEditField"
                      class="form-control validate-name"
                      id="dataModel.phone"
                      />
                    </div>
                    <!-- Website Field -->
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.website" class="color-highlight">{{
                        fieldsInfo["website"]?.fieldTitle
                      }}</label>
                      <input
                        matInput
                        type="url"
                        [(ngModel)]="dataModel.website"
                        name="dataModel.website"
                        #Website
                        placeholder="{{ fieldsInfo['website']?.fieldTitle }}"
                        maxlength="256"
                        [disabled]="!fieldsInfo['website']?.accessEditField"
                        class="form-control validate-name"
                        id="dataModel.website"
                        />
                      </div>
                      <!-- AccountNo Field -->
                      <div
                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                        >
                        <label for="dataModel.accountNo" class="color-highlight">{{
                          fieldsInfo["accountNo"]?.fieldTitle || "TITLE.Account_Number"
                        }}</label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="accountNo"
                          name="dataModel.accountNo"
                          #AccountNo
                          placeholder="{{ 'TITLE.Account_Number' | translate }}"
                          maxlength="100"
                          [disabled]="!fieldsInfo['accountNo']?.accessEditField"
                          class="form-control validate-name"
                          id="dataModel.accountNo"
                          />
                        </div>
                        <!-- Rating Enum Selector -->
                        @if (fieldsInfo['rating']?.accessWatchField) {
                          <app-cms-enum-x-selector
                            [optionDataListResult]="dataModelCrmAccountRatingEnumResult"
                            [(model)]="dataModel.rating"
                            [optionDisabled]="!fieldsInfo['rating']?.accessEditField"
                            [optionLabel]="fieldsInfo['rating']?.fieldTitle || 'TITLE.Rating'"
                            [optionRequired]="false"
                            [optionSelectFirstItem]="false"
                          ></app-cms-enum-x-selector>
                        }
                          <!-- Ownership Field -->
                          <div
                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                            >
                            <label for="dataModel.ownership" class="color-highlight">{{
                              fieldsInfo["ownership"]?.fieldTitle || "TITLE.Ownership"
                            }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="ownership"
                              name="dataModel.ownership"
                              #Ownership
                              placeholder="{{ 'TITLE.Ownership' | translate }}"
                              maxlength="50"
                              [disabled]="!fieldsInfo['ownership']?.accessEditField"
                              class="form-control validate-name"
                              id="dataModel.ownership"
                              />
                            </div>
                            <!-- SicCode Field -->
                            <div
                              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                              >
                              <label for="dataModel.sicCode" class="color-highlight">{{
                                fieldsInfo["sicCode"]?.fieldTitle || "TITLE.SIC_Code"
                              }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="sicCode"
                                name="dataModel.sicCode"
                                #SicCode
                                placeholder="{{ 'TITLE.SIC_Code' | translate }}"
                                maxlength="50"
                                [disabled]="!fieldsInfo['sicCode']?.accessEditField"
                                class="form-control validate-name"
                                id="dataModel.sicCode"
                                />
                              </div>
                              <!-- TickerSymbol Field -->
                              <div
                                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                >
                                <label for="dataModel.tickerSymbol" class="color-highlight">{{
                                  fieldsInfo["tickerSymbol"]?.fieldTitle || "TITLE.Ticker_Symbol"
                                }}</label>
                                <input
                                  matInput
                                  type="text"
                                  [(ngModel)]="tickerSymbol"
                                  name="dataModel.tickerSymbol"
                                  #TickerSymbol
                                  placeholder="{{ 'TITLE.Ticker_Symbol' | translate }}"
                                  maxlength="30"
                                  [disabled]="!fieldsInfo['tickerSymbol']?.accessEditField"
                                  class="form-control validate-name"
                                  id="dataModel.tickerSymbol"
                                  />
                                </div>
                                <!-- Email2 Field -->
                                <div
                                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                  >
                                  <label for="dataModel.email2" class="color-highlight">{{
                                    fieldsInfo["email2"]?.fieldTitle || "TITLE.Secondary_Email"
                                  }}</label>
                                  <input
                                    matInput
                                    type="email"
                                    [(ngModel)]="email2"
                                    name="dataModel.email2"
                                    #Email2
                                    placeholder="{{ 'TITLE.Secondary_Email' | translate }}"
                                    maxlength="256"
                                    [disabled]="!fieldsInfo['email2']?.accessEditField"
                                    class="form-control validate-name"
                                    id="dataModel.email2"
                                    />
                                  </div>
                                  <!-- OtherPhone Field -->
                                  <div
                                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                    >
                                    <label for="dataModel.otherPhone" class="color-highlight">{{
                                      fieldsInfo["otherPhone"]?.fieldTitle || "TITLE.Other_Phone"
                                    }}</label>
                                    <input
                                      matInput
                                      type="text"
                                      [(ngModel)]="otherPhone"
                                      name="dataModel.otherPhone"
                                      #OtherPhone
                                      placeholder="{{ 'TITLE.Other_Phone' | translate }}"
                                      maxlength="128"
                                      [disabled]="!fieldsInfo['otherPhone']?.accessEditField"
                                      class="form-control validate-name"
                                      id="dataModel.otherPhone"
                                      />
                                    </div>
                                    <!-- EmailOptOut Field -->
                                    <div
                                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                      >
                                      <label for="dataModel.emailOptOut" class="color-highlight">{{
                                        fieldsInfo["emailOptOut"]?.fieldTitle || "TITLE.Email_Opt_Out"
                                      }}</label>
                                      <input
                                        matInput
                                        type="checkbox"
                                        [(ngModel)]="emailOptOut"
                                        name="dataModel.emailOptOut"
                                        #EmailOptOut
                                        [disabled]="!fieldsInfo['emailOptOut']?.accessEditField"
                                        class="form-control validate-name"
                                        id="dataModel.emailOptOut"
                                        />
                                      </div>
                                      <!-- NotifyOwner Field -->
                                      <div
                                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                        >
                                        <label for="dataModel.notifyOwner" class="color-highlight">{{
                                          fieldsInfo["notifyOwner"]?.fieldTitle || "TITLE.Notify_Owner"
                                        }}</label>
                                        <input
                                          matInput
                                          type="checkbox"
                                          [(ngModel)]="notifyOwner"
                                          name="dataModel.notifyOwner"
                                          #NotifyOwner
                                          [disabled]="!fieldsInfo['notifyOwner']?.accessEditField"
                                          class="form-control validate-name"
                                          id="dataModel.notifyOwner"
                                          />
                                        </div>
                                        <!-- Description Field -->
                      <div
                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                        >
                        <label for="dataModel.description" class="color-highlight">{{
                          fieldsInfo["description"]?.fieldTitle
                        }}</label>
                        <textarea
                          matInput
                          [(ngModel)]="dataModel.description"
                          name="dataModel.description"
                          #Description
                          placeholder="{{ fieldsInfo['description']?.fieldTitle }}"
                          rows="4"
                          [disabled]="!fieldsInfo['description']?.accessEditField"
                          class="form-control validate-name"
                          id="dataModel.description"
                          ></textarea>
                        </div>

                        <!-- Billing Address Section -->
                        <div class="mb-4">
                          <h5 class="color-highlight mb-3">{{ "TITLE.Billing_Address" | translate }}</h5>

                          <!-- Bill Street Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billStreet" class="color-highlight">{{ "TITLE.Street" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billStreet"
                              name="dataModel.billStreet"
                              #BillStreet
                              placeholder="{{ 'TITLE.Street' | translate }}"
                              maxlength="250"
                              class="form-control validate-name"
                              id="dataModel.billStreet"
                            />
                          </div>

                          <!-- Bill City Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billCity" class="color-highlight">{{ "TITLE.City" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billCity"
                              name="dataModel.billCity"
                              #BillCity
                              placeholder="{{ 'TITLE.City' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.billCity"
                            />
                          </div>

                          <!-- Bill State Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billState" class="color-highlight">{{ "TITLE.State" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billState"
                              name="dataModel.billState"
                              #BillState
                              placeholder="{{ 'TITLE.State' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.billState"
                            />
                          </div>

                          <!-- Bill PostalCode Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billPostalCode" class="color-highlight">{{ "TITLE.Postal_Code" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billPostalCode"
                              name="dataModel.billPostalCode"
                              #BillPostalCode
                              placeholder="{{ 'TITLE.Postal_Code' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.billPostalCode"
                            />
                          </div>

                          <!-- Bill Country Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billCountry" class="color-highlight">{{ "TITLE.Country" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billCountry"
                              name="dataModel.billCountry"
                              #BillCountry
                              placeholder="{{ 'TITLE.Country' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.billCountry"
                            />
                          </div>

                          <!-- Bill PoBox Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.billPoBox" class="color-highlight">{{ "TITLE.PO_Box" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="billPoBox"
                              name="dataModel.billPoBox"
                              #BillPoBox
                              placeholder="{{ 'TITLE.PO_Box' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.billPoBox"
                            />
                          </div>
                        </div>

                        <!-- Shipping Address Section -->
                        <div class="mb-4">
                          <h5 class="color-highlight mb-3">{{ "TITLE.Shipping_Address" | translate }}</h5>

                          <!-- Ship Street Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipStreet" class="color-highlight">{{ "TITLE.Street" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipStreet"
                              name="dataModel.shipStreet"
                              #ShipStreet
                              placeholder="{{ 'TITLE.Street' | translate }}"
                              maxlength="250"
                              class="form-control validate-name"
                              id="dataModel.shipStreet"
                            />
                          </div>

                          <!-- Ship City Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipCity" class="color-highlight">{{ "TITLE.City" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipCity"
                              name="dataModel.shipCity"
                              #ShipCity
                              placeholder="{{ 'TITLE.City' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.shipCity"
                            />
                          </div>

                          <!-- Ship State Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipState" class="color-highlight">{{ "TITLE.State" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipState"
                              name="dataModel.shipState"
                              #ShipState
                              placeholder="{{ 'TITLE.State' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.shipState"
                            />
                          </div>

                          <!-- Ship PostalCode Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipPostalCode" class="color-highlight">{{ "TITLE.Postal_Code" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipPostalCode"
                              name="dataModel.shipPostalCode"
                              #ShipPostalCode
                              placeholder="{{ 'TITLE.Postal_Code' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.shipPostalCode"
                            />
                          </div>

                          <!-- Ship Country Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipCountry" class="color-highlight">{{ "TITLE.Country" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipCountry"
                              name="dataModel.shipCountry"
                              #ShipCountry
                              placeholder="{{ 'TITLE.Country' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.shipCountry"
                            />
                          </div>

                          <!-- Ship PoBox Field -->
                          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                            <label for="dataModel.shipPoBox" class="color-highlight">{{ "TITLE.PO_Box" | translate }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="shipPoBox"
                              name="dataModel.shipPoBox"
                              #ShipPoBox
                              placeholder="{{ 'TITLE.PO_Box' | translate }}"
                              maxlength="30"
                              class="form-control validate-name"
                              id="dataModel.shipPoBox"
                            />
                          </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-button-group">
                          <button
                            type="submit"
                            [disabled]="formInfo.submitButtonEnabled == false"
                            class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-green-dark"
                            >
                            {{ "ACTION.SAVE" | translate }}
                          </button>
                          <button
                            type="button"
                            (click)="onFormCancel()"
                            class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-red-dark"
                            >
                            {{ "ACTION.CANCEL" | translate }}
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
