<!--begin::cms-tree-header-->
@if (optionActionMainDisplay) {
  <div class="card card-style">
    <div class="content mb-0 mt-0">
      @if (optionListTitle?.length > 1000) {
        <p class="mb-0 color-highlight font-600">
          {{ optionListTitle }}
        </p>
      }
      <div class="d-flex justify-content-between flex-wrap">
        <div class="justify-content-end">
          <ng-content select="[cms-tree-action]"></ng-content>
        </div>
        <div class="justify-content-start"></div>
      </div>
    </div>
  </div>
}
<!--end::cms-tree-header-->
<!--begin::cms-tree-body-->
<div class="card card-style mb-0 mt-0 ps-0 pe-0">
  <div class="content mb-0 ps-0 mt-0 pe-0">
    <ng-content select="[cms-tree-body]"></ng-content>
  </div>
</div>
<!--end::cms-tree-body-->
<!--begin::cms-tree-footer-->
@if (optionFooterDisplay) {
  <div class="card card-style">
    <div class="content mb-0">
      <ng-content select="[cms-tree-footer]"></ng-content>
    </div>
  </div>
}
<!--end::cms-tree-footer-->
