<div
  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
>
  @if (optionLabel?.length > 0) {
    <label
      for="cms-RecordStatusEnum-selector-{{ id }}"
      class="color-highlight"
      >{{ optionLabel }}</label
    >
  }
  <select
    [(ngModel)]="modelDate"
    name="cms-RecordStatusEnum-selector-{{ id }}"
    #RecordStatus="ngModel"
    ngClass="cms-RecordStatusEnum-selector-{{ modelDate }}"
    class="form-control validate-name"
    [required]="optionRequired"
    [attr.disabled]="optionDisabled ? true : null"
    id="cms-RecordStatusEnum-selector-{{ id }}"
  >
    @for (item of dataModelResult.listItems; track item; let i = $index) {
      <option [ngValue]="item.value">
        {{ item.description }}
      </option>
    }
  </select>
  <span><i class="fa-solid fa-chevron-down"></i></span>
  @if (!RecordStatus.value) {
    <i class="fa-solid fa-times invalid color-red-dark"></i>
  }
  @if (RecordStatus.value) {
    <i class="fa-solid fa-check valid color-green-dark"></i>
  }
  <em class="mt-n3"></em>
  @if (RecordStatus.errors?.required) {
    <mat-error>
      <strong>{{ "MESSAGE.required" | translate }}</strong>
    </mat-error>
  }
</div>
