<div
  class="input-style has-borders has-icon input-style-always-active validate-field mb-4 loader-container"
>
  <app-progress-spinner [optionsInfoAreaId]="constructor.name">
  </app-progress-spinner>
  @if (optionLabel?.length > 0) {
    <label for="app-cms-site-selector-{{ id }}" class="color-highlight">{{
      optionLabel
    }}</label>
  }
  <span matPrefix>
    @if (dataModelSelect && dataModelSelect?.linkMainImageIdSrc) {
      <img
        class="ntk-hover-zoom"
        style="vertical-align: middle"
        class="ntk-hover-zoom"
        aria-hidden
        src="{{ dataModelSelect?.linkMainImageIdSrc | cmsthumbnail }}"
        height="25"
        width="25"
      />
    }
    &nbsp;</span
  >
  <input
    type="text"
    placeholder="{{ optionPlaceholder }}"
    [attr.disabled]="optionDisabled ? true : null"
    aria-label="Assignee"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="matauto"
    [required]="optionRequired"
    id="app-cms-site-selector-{{ id }}"
  />
  <mat-autocomplete
    #matauto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onActionSelect($event.option.value)"
  >
    @for (state of filteredOptions | async; track state) {
      <mat-option [value]="state" [disabled]="optionDisabled">
        @if (state.linkMainImageIdSrc) {
          <img
            style="vertical-align: middle"
            class="ntk-hover-zoom"
            aria-hidden
            src="{{ state.linkMainImageIdSrc | cmsthumbnail }}"
            height="25"
            width="25"
          />
        }
        <span>{{ displayOption(state) }}</span>
      </mat-option>
    }
  </mat-autocomplete>
  @if (!formControl.valid) {
    <i class="fa fa-info invalid color-red-dark"></i>
  }
  @if (optionRequired && formControl.valid) {
    <i class="fa fa-check valid color-green-dark"></i>
  }
  @if (dataModelSelect?.id > 0) {
    <i
      class="fa fa-times action color-red-dark"
      (click)="onActionSelectClear()"
    ></i>
  }
  <i
    class="fa fa-rotate-right action color-green-dark"
    style="margin-left: 20px"
    title="{{ 'ACTION.RELOAD' | translate }}"
    [class.rotation360]="
      publicHelper.processService.process.inRunArea[constructorInfoAreaId]
    "
    (click)="onActionButtonReload()"
  ></i>
  @if (optionRequired && !(dataModelSelect?.id > 0)) {
    <em>({{ "TITLE.Necessary" | translate }})</em>
  }
  <ng-content></ng-content>
</div>
