<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <form
    (ngSubmit)="onActionSubmit()"
    #vform="ngForm"
    class="form form-horizontal"
    >
    <!--content-->
    <p class="font-600 color-highlight mb-0">
      {{ "AUTH.Sign.Up" | translate }}
    </p>
    <p>
      {{ "AUTH.REGISTER.DESC" | translate }}
    </p>
    <!--name Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-user"></i>
      <input
        type="name"
        class="form-control validate-name"
        id="dataModel.name"
        style="direction: ltr !important; text-align: center"
        placeholder="{{ 'AUTH.INPUT.FIRSTNAME' | translate }}"
        [(ngModel)]="dataModel.name"
        name="dataModel.name"
        [disabled]="!formInfo.submitButtonEnabled"
        #Name
        autocomplete="off"
        minlength="3"
        maxlength="50"
        required
        />
        <label for="dataModel.name" class="color-highlight">{{
          "AUTH.INPUT.FIRSTNAME" | translate
        }}</label>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <em>({{ "TITLE.Necessary" | translate }})</em>
        @if (Name.errors?.required) {
          <mat-error>
            {{ "AUTH.INPUT.FIRSTNAME" | translate }}
            <strong>{{ "MESSAGE.required" | translate }}</strong>
          </mat-error>
        }
      </div>
      <!--name Field-->
      <div class="input-style no-borders has-icon validate-field mb-4">
        <i class="fa fa-user"></i>
        <input
          type="name"
          class="form-control validate-name"
          id="dataModel.family"
          style="direction: ltr !important; text-align: center"
          placeholder="{{ 'AUTH.INPUT.LASTNAME' | translate }}"
          [(ngModel)]="dataModel.family"
          name="dataModel.family"
          [disabled]="!formInfo.submitButtonEnabled"
          #family
          autocomplete="off"
          minlength="3"
          maxlength="50"
          required
          />
          <label for="dataModel.family" class="color-highlight">{{
            "AUTH.INPUT.LASTNAME" | translate
          }}</label>
          <i class="fa fa-times disabled invalid color-red-dark"></i>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <em>({{ "TITLE.Necessary" | translate }})</em>
          @if (family.errors?.required) {
            <mat-error>
              {{ "AUTH.INPUT.LASTNAME" | translate }}
              <strong>{{ "MESSAGE.required" | translate }}</strong>
            </mat-error>
          }
        </div>

        <!--email Field-->
        <div class="input-style no-borders has-icon validate-field mb-4">
          <i class="fa fa-at"></i>
          <input
            type="email"
            class="form-control validate-name"
            id="dataModel.email"
            style="direction: ltr !important; text-align: center"
            placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
            [(ngModel)]="dataModel.email"
            cmsKeyboardForce="en"
            name="dataModel.email"
            [disabled]="!formInfo.submitButtonEnabled"
            #email
            autocomplete="off"
            minlength="3"
            maxlength="50"
            required
            />
            <label for="dataModel.email" class="color-highlight">{{
              "AUTH.INPUT.EMAIL" | translate
            }}</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>({{ "TITLE.Necessary" | translate }})</em>
            @if (email.errors?.required) {
              <mat-error>
                {{ "AUTH.INPUT.EMAIL" | translate }}
                <strong>{{ "MESSAGE.required" | translate }}</strong>
              </mat-error>
            }
          </div>

          <!--password Field-->
          <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              class="form-control validate-name"
              id="dataModel.password"
              style="direction: ltr !important; text-align: center"
              placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}"
              [(ngModel)]="dataModel.password"
              cmsKeyboardForce="en"
              name="dataModel.password"
              [disabled]="!formInfo.submitButtonEnabled"
              #password
              autocomplete="off"
              minlength="3"
              maxlength="50"
              required
              />
              <label for="dataModel.password" class="color-highlight">{{
                "AUTH.INPUT.PASSWORD" | translate
              }}</label>
              <i class="fa fa-times disabled invalid color-red-dark"></i>
              <i class="fa fa-check disabled valid color-green-dark"></i>
              <em>({{ "TITLE.Necessary" | translate }})</em>
              @if (password.errors?.required) {
                <mat-error>
                  {{ "AUTH.INPUT.PASSWORD" | translate }}
                  <strong>{{ "MESSAGE.required" | translate }}</strong>
                </mat-error>
              }
            </div>

            <!--RePasswordModel Field-->
            <div class="input-style no-borders has-icon validate-field mb-4">
              <i class="fa fa-lock"></i>
              <input
                type="password"
                class="form-control validate-name"
                id="RePassword"
                style="direction: ltr !important; text-align: center"
                placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}"
                [(ngModel)]="RePasswordModel"
                name="RePasswordModel"
                [disabled]="!formInfo.submitButtonEnabled"
                #RePassword
                autocomplete="off"
                minlength="3"
                maxlength="50"
                required
                />
                <label for="RePassword" class="color-highlight">{{
                  "AUTH.INPUT.CONFIRM_PASSWORD" | translate
                }}</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>({{ "TITLE.Necessary" | translate }})</em>
                @if (RePassword.errors?.required) {
                  <mat-error>
                    {{ "AUTH.INPUT.CONFIRM_PASSWORD" | translate }}
                    <strong>{{ "MESSAGE.required" | translate }}</strong>
                  </mat-error>
                }
                @if (
                  RePasswordModel?.length > 0 && RePassword.value !== password.value
                  ) {
                  <mat-error
                    >
                    {{
                    "MESSAGE.Password_and_password_confirmation_are_different" | translate
                    }}
                  </mat-error>
                }
              </div>
              <!--captchaText Field-->
              <img
                src="{{ captchaModel.image }}"
                (click)="onCaptchaOrder()"
                class="mb-3"
                alt=""
                />
                <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
                <div class="input-style no-borders has-icon validate-field mb-4">
                  <i class="fa fa-quote-left"></i>
                  <input
                    [(ngModel)]="dataModel.captchaText"
                    name="dataModel.captchaText"
                    id="dataModel.captchaText"
                    style="direction: ltr !important; text-align: center"
                    [disabled]="!formInfo.submitButtonEnabled"
                    type="text"
                    class="form-control validate-name"
                    placeholder="{{ 'AUTH.INPUT.CAPTCHACODE' | translate }}"
                    autocomplete="off"
                    required
                    minlength="5"
                    maxlength="5"
                    />
                    <label for="dataModel.captchaText" class="color-highlight">{{
                      "AUTH.INPUT.CAPTCHACODE" | translate
                    }}</label>
                    <i class="fa fa-times disabled invalid color-red-dark"></i>
                    <i class="fa fa-check disabled valid color-green-dark"></i>
                    <em>({{ "TITLE.Necessary" | translate }})</em>
                  </div>
                  <div class="form-check icon-check text-start float-start opacity-50">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="roulaccespt"
                      [(ngModel)]="roulaccespt"
                      name="roulaccespt"
                      />
                      <label
                        class="form-check-label font-13"
                        for="roulaccespt"
                        (click)="onRoulaccespt()"
                        >{{ "TITLE.rules_accespt" | translate }}</label
                        >
                        <i class="icon-check-1 far fa-circle color-gray-dark font-14"></i>
                        <i class="icon-check-2 fa fa-check-circle font-14 color-highlight"></i>
                      </div>
                      @if (!onNavigate) {
                        <button
                          type="submit"
      [disabled]="
        !roulaccespt || vform.invalid || !formInfo.submitButtonEnabled
      "
                          style="width: 100%"
                          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                          >
                          {{ "AUTH.REGISTER.CREATE_AN_ACCOUNT" | translate }}
                        </button>
                      }

                      @if (!onNavigate) {
                        <div class="row pt-3 mb-3">
                          <div class="col-6 text-start">
                            <a [routerLink]="['/auth/signinbyusername']" class="color-highlight">{{
                              "AUTH.REGISTER.RETURN_TO_LOGIN" | translate
                            }}</a>
                          </div>
                          <div class="col-6 text-end">
                            <a [routerLink]="['/auth/forgot-password']" class="color-highlight">{{
                              "AUTH.FORGOT.TITLE" | translate
                            }}</a>
                          </div>
                        </div>
                      }

                      <div class="divider"></div>
                      @if (loadDemoTheme) {
                        <div class="divider"></div>
                        <a
                          class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-facebook mt-4 rounded-s"
                          ><i class="fab fa-facebook-f text-center"></i
                          >{{ "AUTH.LOGIN_WITH_FACEBOOK" | translate }}</a
                          >
                          <a
                            class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-twitter mt-2 rounded-s"
                            ><i class="fab fa-twitter text-center"></i
                            >{{ "AUTH.LOGIN_WITH_TWITTER" | translate }}</a
                            >
                            <a
                              class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-dark-dark mt-2 rounded-s"
                              ><i class="fab fa-apple text-center"></i
                              >{{ "AUTH.LOGIN_WITH_APPLE" | translate }}</a
                              >
                            }
                            <!--content-->
                          </form>
                        </div>
