<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <p>
      {{ "TITLE.Be_Careful_When_Entering_Information" | translate }}
    </p>
    <!--Content-->
    <app-cms-form-result-message
      [formInfo]="formInfo"
    ></app-cms-form-result-message>
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      @if (fieldsInfo['recordStatus']?.accessWatchField) {
        <app-cms-enum-record-status-selector
          [(model)]="dataModel.recordStatus"
          [optionDisabled]="false"
          [optionLabel]="fieldsInfo['recordStatus']?.fieldTitle"
          [optionRequired]="true"
          [optionSelectFirstItem]="true"
          >
        </app-cms-enum-record-status-selector>
      }
      <!-- BankStatus Field -->
      @if (fieldsInfo['bankStatus']?.accessWatchField) {
        <div
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
          >
          <select
            id="dataModel.bankStatus"
            [(ngModel)]="dataModel.bankStatus"
            [disabled]="!fieldsInfo['bankStatus']?.accessEditField"
            name="dataModel.bankStatus"
            #BankStatus="ngModel"
            class="form-control validate-name"
            >
            @for (
              item of dataModelEnumTransactionBankStatusResult.listItems; track
              item; let i = $index) {
              <option
                [ngValue]="item.value"
                >
                {{ item.description }}
              </option>
            }
          </select>
          <em>{{ "Application.source.BankStatus_hint" | translate }}</em>
          @if (BankStatus.errors?.required) {
            <mat-error>
              {{ fieldsInfo["bankStatus"]?.fieldTitle }} is
              <strong>{{ "MESSAGE.required" | translate }}</strong>
            </mat-error>
          }
        </div>
      }
      <!-- TransactionStatus Field -->
      @if (fieldsInfo['transactionStatus']?.accessWatchField) {
        <div
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
          >
          <select
            id="dataModel.transactionStatus"
            [(ngModel)]="dataModel.transactionStatus"
            [disabled]="!fieldsInfo['transactionStatus']?.accessEditField"
            name="dataModel.transactionStatus"
            #TransactionStatus="ngModel"
            class="form-control validate-name"
            >
            @for (
              item of dataModelEnumTransactionRecordStatusResult.listItems; track
              item; let i = $index) {
              <option
                [ngValue]="item.value"
                >
                {{ item.description }}
              </option>
            }
          </select>
          <em>{{ "Application.source.TransactionStatus_hint" | translate }}</em>
          @if (TransactionStatus.errors?.required) {
            <mat-error>
              {{ fieldsInfo["transactionStatus"]?.fieldTitle }} is
              <strong>{{ "MESSAGE.required" | translate }}</strong>
            </mat-error>
          }
        </div>
      }
      <!-- LinkPrivateSiteConfigId Field -->
      <app-bankpayment-privatesiteconfig-selector
        [optionDisabled]="true"
        [optionSelectForce]="this.dataModel.linkPrivateSiteConfigId"
        [optionPlaceholder]="'TITLE.Account' | translate"
        >
      </app-bankpayment-privatesiteconfig-selector>
      <!-- LinkUserId Field -->
      <app-cms-user-selector
        [optionDisabled]="true"
        [optionSelectForce]="this.dataModel.linkUserId"
        [optionPlaceholder]="'TITLE.USER' | translate"
      ></app-cms-user-selector>
      <!-- LinkUserId Field -->
      <app-cms-json-list
        [dataModel]="dataModel"
        [optionMethod]="1"
      ></app-cms-json-list>
      @if (formInfo.submitButtonEnabled) {
        <div class="form-actions">
          <button
            type="button"
            (click)="onFormCancel()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
            >
            <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
          </button>
          <button
            type="submit"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
            [disabled]="!vform.form.valid"
            >
            <i class="fa fa-check-square-o"></i> {{ "ACTION.SAVE" | translate }}
          </button>
        </div>
      }
    </form>
    <!--Content-->
  </div>
</div>
