<div
  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
  >
  <label for="float-{{ id }}" class="color-highlight">{{ optionLabel }}</label>
  <input
    matInput
    [(ngModel)]="modelDate"
    name="number"
    #number
    type="number"
    class="form-control validate-name"
    id="float-{{ id }}"
    step="0.01"
    placeholder="{{ optionPlaceholder }}"
    [disabled]="optionDisabled"
    [ngModelOptions]="{ standalone: true }"
    [required]="optionRequired"
    />
  @if (optionRequired) {
    <em>({{ "TITLE.Necessary" | translate }})</em>
  }
  @if (number.errors?.required) {
    <mat-error>
      {{ optionLabel }} <strong>{{ "MESSAGE.required" | translate }}</strong>
    </mat-error>
  }
</div>
