<div id="footer-bar" class="footer-bar-6 gradient-highlight">
  <a [routerLink]="['/ticketing/faq']" ><i class="fa fa-file  "></i><span>{{"ACTION.QUESTIONS"|translate}}</span></a>
  <a [routerLink]="['/core/site/info']"><i class="fa fa-image  "></i><span>{{"ROUTE.CORE.ADDRESS"|translate}}</span></a>
  <a [routerLink]="['/']" class="circle-nav active-nav"><i
      class="fa fa-home  "></i><span>{{"TITLE.House"|translate}}</span></a>
  <a *ngIf="tokenInfo?.access?.userId>0" [routerLink]="['/menu']" (click)="onActionCleanDataMenu()"><i
      class="fa fa-layer-group  "></i><span>{{"TITLE.Possibilitiesatures"|translate}}</span></a>
  <a *ngIf="!this.tokenInfo|| !this.tokenInfo?.access ||!this.tokenInfo?.access?.userId||this.tokenInfo?.access?.userId<=0"
    [routerLink]="['/auth/']" (click)="onActionCleanDataMenu()"><i
      class="fa fa-layer-group  "></i><span>{{"ACTION.LOGIN"|translate}}</span></a>
  <a (click)="themeStore?.dataMenu!=='menu-main' ? themeStore.dataMenu='menu-main':themeStore.dataMenu=''"><i
      class="fa fa-bars  "></i><span>{{"MENU.MENU"|translate}}</span></a>
</div>
