.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: contents;
}
.relative {
  position: relative;
  height: 90%;
}
.absolute {
  position: absolute;
  bottom: 10px;
}
thead tr {
  background-color: #81d4fa;
}
th,
td {
  text-align: center;
}
