<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <p>
      {{ "TITLE.Be_Careful_When_Entering_Information" | translate }}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <div class="ntk-cms-html-card-header"></div>
      <div class="ntk-cms-html-card-body ntk-allow-text-selection">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
        <!-- RecordStatus Field -->
        @if (fieldsInfo['recordStatus']?.accessWatchField) {
          <app-cms-enum-record-status-selector
            [(model)]="dataModel.recordStatus"
            [optionDisabled]="false"
            [optionLabel]="fieldsInfo['recordStatus']?.fieldTitle"
            [optionRequired]="true"
            [optionSelectFirstItem]="true"
          ></app-cms-enum-record-status-selector>
        }

        <!-- LinkUserClaimGroupId Field -->
        <app-core-userclaimgroup-selector
          (optionChange)="onActionSelectClaimGroup($event)"
          [optionSelectForce]="dataModel.linkUserClaimGroupId"
          [optionPlaceholder]="'TITLE.DOCUMENT_GROUP' | translate"
          [optionDisabled]="
            !fieldsInfo['linkUserClaimGroupId']?.accessEditField
          "
          >
        </app-core-userclaimgroup-selector>

        <!-- LinkUserClaimTypeId Field -->
        <app-core-userclaimtype-selector
          (optionChange)="onActionSelectClaimType($event)"
          [optionSelectForce]="dataModel.linkUserClaimTypeId"
          [optionPlaceholder]="'TITLE.DOCUMENT_CATEGORY' | translate"
          [optionDisabled]="!fieldsInfo['linkUserClaimTypeId']?.accessEditField"
          >
        </app-core-userclaimtype-selector>

        <!-- IsRequired Field -->
        <div class="ntk-full-width">
          @if (fieldsInfo['isRequired']?.accessWatchField) {
            <mat-slide-toggle
              [(ngModel)]="dataModel.isRequired"
              [disabled]="!fieldsInfo['isRequired']?.accessEditField"
              name="dataModel.isRequired"
              >
              {{ fieldsInfo["isRequired"]?.fieldTitle }}
            </mat-slide-toggle>
          }
        </div>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
      </div>
      <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message -->
        <app-cms-form-result-message
          [formInfo]="formInfo"
        ></app-cms-form-result-message>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message -->
      </div>
      <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        @if (formInfo.submitButtonEnabled) {
          <div class="form-actions">
            <button
              type="button"
              (click)="onFormCancel()"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
              >
              <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
            </button>
            <button
              type="submit"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid"
              >
              <i class="fa fa-check-square-o"></i> {{ "ACTION.SAVE" | translate }}
            </button>
          </div>
        }
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      </div>
    </form>
    <!--Content-->
  </div>
</div>
