<app-cms-html-list-mobile
  [optionsListInfoAreaId]="constructorInfoAreaId"
  [optionGuideNoticeKey]="''"
  [(optionActionGuideNoticeDisplay)]="viewGuideNotice"
  [optionTreeDisplay]="false"
  [optionActionRowId]="tableRowSelected?.id"
  [optionActionRowDisplay]="tableRowSelected?.appInfo?.length > 0"
  [optionActionRowDisplayMenu]="tableRowSelect2Click"
  [optionSelectRowItemTitle]="tableRowSelected?.appInfo"
>
  <ng-container cms-tree></ng-container>
  <ng-container cms-header></ng-container>
  <ng-container cms-action-header></ng-container>
  <ng-container cms-action-header-start>
    <a
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="viewGuideNotice = !viewGuideNotice"
      target="_blank"
      ><i class="fa-solid fa-info font-18" style="color: #ffffff"></i
    ></a>
    <button
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="onActionButtonReload()"
      [disabled]="statusLoading"
    >
      <i
        class="fa-solid fa-rotate-right font-18"
        style="color: #ffffff"
        [class.rotation360]="statusLoading"
      ></i>
    </button>
  </ng-container>
  <ng-container cms-action-header-end></ng-container>
  <ng-container cms-action-main></ng-container>
  <ng-container cms-action-row>
    @if (tableRowSelected) {
      <div class="col-4">
        <button
          type="button"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
          (click)="onActionButtonViewRow(tableRowSelected)"
        >
          <i class="fa-solid fa-eye font-18" style="color: #ffffff"></i><br />
        </button>
        <p class="font-11 text-center opacity-70">
          {{ "ACTION.VIEW" | translate }}
        </p>
      </div>
    }
  </ng-container>
  <ng-container cms-action-area></ng-container>
  <ng-container cms-body>
    @if (errorMessage) {
      <div class="alert alert-error">{{ errorMessage }}</div>
    }
    @if (pingList?.length) {
      <div class="cms-m-list">
        @for (row of pingList; track trackById($index, row)) {
          <div
            class="cms-m-list-item"
            [class.selected]="row.id === tableRowSelected?.id"
            (click)="onActionTableRowSelect(row, $event)"
            (rtclick)="onActionTableRowSelect(row, $event)"
            role="button"
            [attr.aria-label]="row?.appInfo"
            tabindex="0"
          >
            <div class="cms-m-list-item-image-placeholder">
              <i class="fa-solid fa-signal" aria-hidden="true"></i>
            </div>
            <div class="cms-m-list-item-content">
              <div class="cms-m-list-item-title">{{ row?.appInfo || "-" }}</div>
              <div class="cms-m-list-item-subtitle">
                RTT: {{ row?.rttMs ?? "-" }} ms | {{ getPingTimestamp(row) }}
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="cms-m-empty">
        {{ "ROUTE.CORELOG.MICROSERVICEPING_EMPTY" | translate }}
      </div>
    }
  </ng-container>
  <ng-container cms-footer></ng-container>
</app-cms-html-list-mobile>
