<app-cms-html-list
  [optionsListInfoAreaId]="constructorInfoAreaId"
  [optionGuideNoticeKey]="''"
  [(optionActionGuideNoticeDisplay)]="viewGuideNotice"
  [optionTreeDisplay]="false"
  [optionActionRowId]="tableRowSelected?.id"
  [optionActionRowDisplayMenu]="tableRowSelect2Click"
  [optionSelectRowItemTitle]="tableRowSelected?.appInfo"
>
  <ng-container cms-tree></ng-container>
  <ng-container cms-header></ng-container>
  <ng-container cms-action-header></ng-container>
  <ng-container cms-action-header-start>
    <a
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="viewGuideNotice = !viewGuideNotice"
      target="_blank"
      ><i class="fa-solid fa-info font-18" style="color: #ffffff"></i
    ></a>
    <button
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="onActionButtonReload()"
      [disabled]="statusLoading"
    >
      <i
        class="fa-solid fa-rotate-right font-18"
        style="color: #ffffff"
        [class.rotation360]="statusLoading"
      ></i>
    </button>
  </ng-container>
  <ng-container cms-action-header-end></ng-container>
  <ng-container cms-action-main></ng-container>
  <ng-container cms-action-row></ng-container>
  <ng-container cms-action-area></ng-container>
  <ng-container cms-body>
    @if (errorMessage) {
      <div class="alert alert-error">{{ errorMessage }}</div>
    }
    <mat-table
      [dataSource]="tableSource"
      matSort
      #tableSort="matSort"
      (matSortChange)="onTableSortData(tableSort)"
    >
      <!-- AppInfo Column -->
      <ng-container matColumnDef="appInfo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            fieldsInfo["appInfo"]?.fieldTitle ||
              ("ROUTE.CORELOG.MICROSERVICEPING_APPINFO" | translate)
          }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.appInfo || "-" }} </mat-cell>
      </ng-container>
      <!-- RttMs Column -->
      <ng-container matColumnDef="rttMs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            fieldsInfo["rttMs"]?.fieldTitle ||
              ("ROUTE.CORELOG.MICROSERVICEPING_RTT" | translate)
          }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.rttMs ?? "-" }} ms </mat-cell>
      </ng-container>
      <!-- PingTimestamp Column -->
      <ng-container matColumnDef="pingTimestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            fieldsInfo["pingTimestamp"]?.fieldTitle ||
              ("ROUTE.CORELOG.MICROSERVICEPING_PINGTIME" | translate)
          }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" style="direction: ltr">
          {{ getPingTimestamp(row) }}
        </mat-cell>
      </ng-container>
      <!-- PongTimestamp Column -->
      <ng-container matColumnDef="pongTimestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            fieldsInfo["pongTimestamp"]?.fieldTitle ||
              ("ROUTE.CORELOG.MICROSERVICEPING_PONGTIME" | translate)
          }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" style="direction: ltr">
          {{ getPongTimestamp(row) }}
        </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>
          {{ "TITLE.OPTION" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="Action">
          <button
            type="button"
            mat-icon-button
            [matMenuTriggerFor]="actionMenu"
            aria-label="Action Menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="onActionButtonViewRow(row)">
              <mat-icon>visibility</mat-icon>
              <span>{{ "ACTION.VIEW" | translate }}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: tabledisplayedColumns; let i = dataIndex"
        class="ntk-row-mainfild"
        (click)="onActionTableRowSelect(row, $event)"
        (rtclick)="onActionTableRowSelect(row, $event)"
        [class.ntk-row-selected]="row.id === tableRowSelected?.id"
      >
      </mat-row>
    </mat-table>
    @if (!statusLoading && !pingList?.length) {
      <p class="empty-message">
        {{ "ROUTE.CORELOG.MICROSERVICEPING_EMPTY" | translate }}
      </p>
    }
  </ng-container>
  <ng-container cms-footer></ng-container>
</app-cms-html-list>
