<div class="loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  @for (item of dataModelResult.listItems; track item.id) {
    <div class="card card-style mt-n3">
      <div class="content mb-2 mt-3">
        <div class="d-flex">
          <div class="col-4 pe-4 ps-4" style="text-align: center">
            <p class="font-600 color-highlight mb-0">موجودی شما</p>

            <br />
            <h6 class="font-14 font-500">
              {{ "TITLE.module" | translate }}
              {{
                item.linkModuleId
                  | cmstitle: dataModelCoreModuleResult.listItems
              }}
            </h6>
            <h1>{{ item.credit | number }}</h1>
          </div>
          <div class="col-8 pt-1 pe-4">
            <h6 class="font-14 font-500">
              مجموعه اعتبار تخصیص داده شده<span
                class="float-end color-green-dark"
                >{{ item.sumCreditor | number }}</span
              >
            </h6>
            <div class="divider mb-2 mt-1"></div>
            <h6 class="font-14 font-500">
              بلوکه شده (به عنوان هزینه های آینده)<span
                class="float-end color-orange-dark"
                >{{ item.sumCreditBlocked | number }}</span
              >
            </h6>
            <div class="divider mb-2 mt-1"></div>
            <h6 class="font-14 font-500">
              هزینه های پرداخت شده<span class="float-end color-red-dark">{{
                item.sumCost | number
              }}</span>
            </h6>
            <div class="divider mb-2 mt-1"></div>
            <h6 class="font-14 font-500">
              بدهی های پرداخت شده<span class="float-end color-red-dark">{{
                item.sumDebtor | number
              }}</span>
            </h6>
          </div>
        </div>
        <div class="divider mb-3"></div>
        <div class="row mb-0">
          <div class="col-4 pe-1">
            <h6 class="font-12 font-500">
              {{ "ACTION.USER_CHARGE" | translate }}
            </h6>
            <a
              (click)="onActionButtonSiteUserCreditBuyAccountRow(item)"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
              target="_blank"
              ><i
                class="fa-solid fa-cart-shopping font-18"
                style="color: #ffffff"
              ></i
              ><br />
            </a>
          </div>
          <div class="col-4 ps-1" *ngIf="tokenHelper.isAdminSite">
            <h6 class="font-12 font-500">
              {{ "ACTION.Direct_CREDIT_CHARGE" | translate }}
            </h6>
            <a
              (click)="onActionButtonSiteUserCreditDirectAccountRow(item)"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
              target="_blank"
              ><i
                class="fa-solid fa-credit-card font-18"
                style="color: #ffffff"
              ></i
              ><br />
            </a>
          </div>
          <div class="col-4 ps-1">
            <h6 class="font-12 font-500">
              {{ "ACTION.LOG_CREDIT" | translate }}
            </h6>
            <a
              (click)="onActionButtonLogCreditAccountRow(item, $event)"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
              target="_blank"
              ><i
                class="fa-solid fa-file-invoice font-18"
                style="color: #ffffff"
              ></i
              ><br />
            </a>
          </div>
          <div class="col-12 pb-3"></div>
        </div>
      </div>
    </div>
  }
</div>
<app-cms-action-button-reload
  (optionReload)="onActionButtonReload()"
  [optionBottomVisible]="false"
></app-cms-action-button-reload>
