<ng-template #keyTemplate>
  <div style="text-align-last: center">
    <p>{{ this.Key }}</p>
    <button
      (click)="onActionCopied()"
      [cdkCopyToClipboard]="Key"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
    >
      Copy
    </button>
  </div>
</ng-template>
<!-------------->
<!-------------->
<!--Menu Video-->
<!-------------->
<!-------------->
@if (movie > 0) {
  <div
    id="menu-video"
    class="menu menu-box-bottom rounded-m"
    style="height: 410px"
    [ngClass]="privatOptionView ? 'menu-active' : ''"
    data-menu-effect="menu-over"
  >
    <div class="responsive-iframe max-iframe">
      <video class="header-video" controls>
        <source src="{{ movieSrc }}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="menu-title">
      <p class="color-highlight" [innerHTML]="description">...</p>
      <a (click)="onActionCloseBottunClick()" class="close-menu"
        ><i class="fa-solid fa-times-circle"></i
      ></a>
    </div>
    <div class="content mt-n2">
      <p [innerHTML]="body">....</p>
    </div>
    @if (podcastSrc && podcastSrc?.length > 0 && bodyShow) {
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-112">
          <audio class="audio" controls>
            <source src="{{ podcastSrc | cmsthumbnail }}" type="audio/mp3" />
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    }
  </div>
}

<!---------------->
<!---------------->
<!--Menu Memo-->
<!---------------->
<!---------------->
@if (movie <= 0) {
  <div
    id="menu-success-1"
    [ngClass]="privatOptionView ? 'menu-active' : ''"
    class="menu menu-box-bottom rounded-m"
    style="height: 410px"
    data-menu-effect="menu-over"
  >
    <div class="menu-title">
      <i
        (click)="onActionCopyHeaderKey(keyTemplate, $event)"
        class="fa-solid fa-circle-info scale-box float-start me-3 ms-3 fa-4x color-green-dark"
      ></i>
      <p class="color-highlight" [innerHTML]="description">...</p>
      <a (click)="onActionCloseBottunClick()" class="close-menu"
        ><i class="fa-solid fa-times-circle"></i
      ></a>
    </div>
    <div class="content mt-0 mb-0">
      <p class="pe-3" [innerHTML]="body">...</p>
    </div>
    @if (podcastSrc && podcastSrc?.length > 0 && bodyShow) {
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-112">
          <audio class="audio" controls>
            <source src="{{ podcastSrc | cmsthumbnail }}" type="audio/mp3" />
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    }
  </div>
}
