<app-cms-html-form
  [formInfo]="formInfo"
  [dataModel]="dataModel"
  [fieldsInfo]="fieldsInfo"
  [optionLoadForm]="true"
  [optionShowFormTitle]="true"
  [optionShowFormSubmitButton]="true"
  [optionShowFormCancelButton]="true"
  (optionFormSubmit)="onFormSubmit()"
  (optionFormCancel)="onFormCancel()"
  >
  <ng-container cms-form-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-form-body-->
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["code"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.code"
            [name]="'code'"
            #codeInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["name"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.name"
            [name]="'name'"
            #nameInput="ngModel"
            required
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["description"]?.fieldTitle }}</mat-label>
          <textarea
            matInput
            [(ngModel)]="dataModel.description"
            [name]="'description'"
            rows="4"
            ></textarea>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["unit"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.unit"
            [name]="'unit'"
            #unitInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-checkbox [(ngModel)]="dataModel.active" [name]="'active'">
          {{ fieldsInfo["active"]?.fieldTitle }}
        </mat-checkbox>
      </div>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-form-body-->
  </ng-container>
</app-cms-html-form>

