<div class="card" [ngClass]="optionIsChild ? '' : 'card-style'">
  <div class="content mb-0">
    <!--Content-->
    <!--optionMethod 1-->
    @if (optionMethod === 1 && dataModelPrivate) {
      <div class="table">
        @if (optionTitleLocation === "side") {
          @if (optionViewHead) {
            <div class="th">
              <div class="td">{{ "TITLE.parameter" | translate }}</div>
              <div class="td">{{ "TITLE.Values" | translate }}</div>
              <div class="clear"></div>
            </div>
          }
          <div
            class="tr"
            *ngFor="let head of dataModelPrivate | listkeys: optionFields"
          >
            @if (optionViewHead || !isArray(dataModelPrivate)) {
              <div class="td">
                {{
                  optionFields && optionFields.size > 0
                    ? optionFields.get(head)
                    : head
                }}
              </div>
            }
            <div class="td">
              <ng-container
                *ngTemplateOutlet="
                  templateItem;
                  context: { $implicit: dataModelPrivate[head] }
                "
              ></ng-container>
            </div>
            <div style="clear: both"></div>
          </div>
        }
        @if (optionTitleLocation === "top") {
          @if (optionViewHead) {
            <div class="th">
              <div
                class="td"
                *ngFor="let head of dataModelPrivate | listkeys: optionFields"
              >
                {{
                  optionFields && optionFields.size > 0
                    ? optionFields.get(head)
                    : head
                }}
              </div>
              <div class="clear"></div>
            </div>
          }
          <div class="tr">
            <div
              class="td"
              *ngFor="let list of dataModelPrivate | listkeys: optionFields"
            >
              <ng-container
                *ngTemplateOutlet="
                  templateItem;
                  context: { $implicit: dataModelPrivate[list] }
                "
              ></ng-container>
            </div>
            <div style="clear: both"></div>
          </div>
        }
      </div>
    }

    <!--optionMethod 2-->
    @if (optionMethod === 2 && dataModelPrivate) {
      <div class="table">
        @if (optionTitleLocation === "side") {
          @if (optionViewHead) {
            <div class="th">
              <div class="td">{{ "TITLE.parameter" | translate }}</div>
              <div
                class="td"
                *ngFor="
                  let head of dataModelPrivate[0] | listkeys: optionFields
                "
              >
                {{
                  optionFields && optionFields.size > 0
                    ? optionFields.get(head)
                    : head
                }}
              </div>
              <div class="clear"></div>
            </div>
          }
          <div class="tr" *ngFor="let item of dataModelPrivate">
            <div class="td" *ngIf="optionViewHead"></div>
            <div class="td" *ngFor="let list of item | listkeys: optionFields">
              <ng-container
                *ngTemplateOutlet="
                  templateItem;
                  context: { $implicit: item[list] }
                "
              ></ng-container>
            </div>
            <div style="clear: both"></div>
          </div>
        }
        @if (optionTitleLocation === "top") {
          @if (optionViewHead) {
            <div class="th">
              <div class="td">{{ "TITLE.parameter" | translate }}</div>
              <div
                class="td"
                *ngFor="let head of dataModelPrivate | listkeys: optionFields"
              >
                {{
                  optionFields && optionFields.size > 0
                    ? optionFields.get(head)
                    : head
                }}
              </div>
              <div class="clear"></div>
            </div>
          }
          <ng-container
            *ngFor="let key of dataModelPrivate[0] | listkeys: optionFields"
          >
            <div class="tr">
              <div class="td">
                {{
                  optionFields && optionFields.size > 0
                    ? optionFields.get(key)
                    : key
                }}
              </div>
              <div class="td" *ngFor="let item of dataModelPrivate">
                <ng-container
                  *ngTemplateOutlet="
                    templateItem;
                    context: { $implicit: item[key] }
                  "
                ></ng-container>
              </div>
              <div style="clear: both"></div>
            </div>
          </ng-container>
        }
      </div>
    }

    <!--Content-->
  </div>
</div>
<!-- قالب‌های نمایشی به پایین صفحه منتقل شدند -->
<ng-template #templateItem let-item>
  @if (optionViewChild) {
    @if (isObject(item)) {
      <app-cms-json-list
        [dataModel]="item"
        [optionMethod]="optionMethod"
        [optionTitleLocation]="'side'"
        [optionViewChild]="optionViewChild"
        [optionFields]="optionFields"
        [optionViewHead]="optionViewHead"
        [optionIsChild]="true"
      >
      </app-cms-json-list>
    } @else if (isMap(item)) {
      <app-cms-json-list
        [dataModel]="item"
        [optionMethod]="2"
        [optionTitleLocation]="'side'"
        [optionViewChild]="optionViewChild"
        [optionFields]="optionFields"
        [optionViewHead]="optionViewHead"
        [optionIsChild]="true"
      >
      </app-cms-json-list>
    } @else if (isArray(item)) {
      <app-cms-json-list
        [dataModel]="item"
        [optionMethod]="1"
        [optionTitleLocation]="'side'"
        [optionViewChild]="optionViewChild"
        [optionFields]="optionFields"
        [optionViewHead]="false"
        [optionIsChild]="true"
      >
      </app-cms-json-list>
    } @else {
      {{ item }}
    }
  } @else {
    @if (isObject(item) || isArray(item)) {
      <div
        [innerHTML]="item | prettyjson"
        style="white-space: pre-wrap; direction: ltr"
      ></div>
    } @else {
      {{ item }}
    }
  }
</ng-template>
