<app-cms-html-tree
  [optionListTitle]="('TABLE.' + dataModelResult?.access?.moduleEntityName) | translate"
  [optionHeaderDisplay]="true"
  [optionActionMainDisplay]="true"
  [optionFooterDisplay]="false"
>
  <ng-container cms-tree-action>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
  </ng-container>
  <ng-container cms-tree-body class="loader-container">
    <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
    </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <mat-tree
      #treeTagControl
      [dataSource]="dataSource"
      [childrenAccessor]="childrenAccessor"
    >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button matIconButton disabled></button>
        <mat-checkbox
          [checked]="checklistSelection.isSelected(node)"
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)"
          >{{ node.title }}</mat-checkbox
        >
      </mat-tree-node>
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.title"
        isExpandable
        [isExpanded]="node.isExpanded ?? false"
      >
        <button
          matIconButton
          matTreeNodeToggle
          [attr.type]="'button'"
          [attr.aria-label]="'Toggle ' + node.title"
          [attr.type]="'button'"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{
              treeTagControl.isExpanded(node) ? "expand_more" : "chevron_right"
            }}
          </mat-icon>
        </button>
        <mat-checkbox
          class="checklist-leaf-node"
          [checked]="checklistSelection.isSelected(node)"
          (change)="checklistSelection.toggle(node)"
          >{{ node.title }}</mat-checkbox
        >
      </mat-tree-node>
    </mat-tree>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </ng-container>
  <ng-container cms-tree-footer>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-tree-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-tree-footer-->
  </ng-container>
</app-cms-html-tree>
