<app-cms-html-form
  [formInfo]="formInfo"
  [dataModel]="dataModel"
  [fieldsInfo]="fieldsInfo"
  [optionLoadForm]="true"
  [optionShowFormTitle]="true"
  [optionShowFormSubmitButton]="true"
  [optionShowFormCancelButton]="true"
  (optionFormSubmit)="onFormSubmit()"
  (optionFormCancel)="onFormCancel()"
  >
  <ng-container cms-form-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-form-body-->
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["linkOrderId"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.linkOrderId"
            [name]="'linkOrderId'"
            #linkOrderIdInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["trackingCode"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.trackingCode"
            [name]="'trackingCode'"
            #trackingCodeInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["carrierName"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.carrierName"
            [name]="'carrierName'"
            #carrierNameInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["driverName"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.driverName"
            [name]="'driverName'"
            #driverNameInput="ngModel"
            />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ fieldsInfo["driverPhone"]?.fieldTitle }}</mat-label>
          <input
            matInput
            [(ngModel)]="dataModel.driverPhone"
            [name]="'driverPhone'"
            #driverPhoneInput="ngModel"
            />
        </mat-form-field>
      </div>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-form-body-->
  </ng-container>
</app-cms-html-form>

