<div class="ntk-cms-html-card-header">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
  {{ optionLabel }}
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
</div>
<div class="ntk-cms-html-card-body ntk-allow-text-selection">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

  <div *ngIf="optionItem">
    <app-cms-json-list
      [(ngModel)]="optionItem"
      [optionMethod]="1"
    ></app-cms-json-list>
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
</div>
<div class="ntk-cms-html-card-message">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message -->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-message -->
</div>
<div class="ntk-cms-html-card-footer">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</div>
