<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <p>
      {{ "TITLE.Be_Careful_When_Entering_Information" | translate }}
    </p>
    <!--Content-->

    <app-cms-form-result-message
      [formInfo]="formInfo"
    ></app-cms-form-result-message>
    <form
      (ngSubmit)="onFormSubmit()"
      #vform="ngForm"
      [ngStyle]="{ direction: tokenInfo.access.direction }"
      >
      <!-- Name Field -->
      <div
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
        >
        <label for="dataModel.name" class="color-highlight">{{
          fieldsInfo["name"]?.fieldTitle
        }}</label>
        <input
          matInput
          type="text"
          [(ngModel)]="dataModel.name"
          name="dataModel.name"
          #Name
          placeholder="{{ fieldsInfo['name']?.fieldTitle }}"
          maxlength="256"
          [disabled]="!fieldsInfo['name']?.accessAddField"
          class="form-control validate-name"
          id="dataModel.name"
          />
        </div>
        <!-- CampaignType Enum Selector -->
        @if (fieldsInfo['campaignType']?.accessWatchField) {
          <app-cms-enum-x-selector
            [optionDataListResult]="dataModelCrmCampaignTypeEnumResult"
            [(model)]="dataModel.campaignType"
            [optionDisabled]="!fieldsInfo['campaignType']?.accessAddField"
            [optionLabel]="fieldsInfo['campaignType']?.fieldTitle"
            [optionRequired]="false"
            [optionSelectFirstItem]="false"
          ></app-cms-enum-x-selector>
        }
        <!-- Status Enum Selector -->
        @if (fieldsInfo['status']?.accessWatchField) {
          <app-cms-enum-x-selector
            [optionDataListResult]="dataModelCrmCampaignStatusEnumResult"
            [(model)]="dataModel.status"
            [optionDisabled]="!fieldsInfo['status']?.accessAddField"
            [optionLabel]="fieldsInfo['status']?.fieldTitle"
            [optionRequired]="false"
            [optionSelectFirstItem]="false"
          ></app-cms-enum-x-selector>
        }
            <!-- StartDate Field -->
            <div
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
              >
              <label for="dataModel.startDate" class="color-highlight">{{
                fieldsInfo["startDate"]?.fieldTitle
              }}</label>
              <input
                matInput
                type="date"
                [(ngModel)]="dataModel.startDate"
                name="dataModel.startDate"
                #StartDate
                placeholder="{{ fieldsInfo['startDate']?.fieldTitle }}"
                [disabled]="!fieldsInfo['startDate']?.accessAddField"
                class="form-control validate-name"
                id="dataModel.startDate"
                />
              </div>
              <!-- EndDate Field -->
              <div
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                >
                <label for="dataModel.endDate" class="color-highlight">{{
                  fieldsInfo["endDate"]?.fieldTitle
                }}</label>
                <input
                  matInput
                  type="date"
                  [(ngModel)]="dataModel.endDate"
                  name="dataModel.endDate"
                  #EndDate
                  placeholder="{{ fieldsInfo['endDate']?.fieldTitle }}"
                  [disabled]="!fieldsInfo['endDate']?.accessAddField"
                  class="form-control validate-name"
                  id="dataModel.endDate"
                  />
                </div>
                <!-- Budget Field -->
                <div
                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                  >
                  <label for="dataModel.budget" class="color-highlight">{{
                    fieldsInfo["budget"]?.fieldTitle
                  }}</label>
                  <input
                    matInput
                    type="number"
                    [(ngModel)]="dataModel.budget"
                    name="dataModel.budget"
                    #Budget
                    placeholder="{{ fieldsInfo['budget']?.fieldTitle }}"
                    [disabled]="!fieldsInfo['budget']?.accessAddField"
                    class="form-control validate-name"
                    id="dataModel.budget"
                    />
                  </div>
                  <!-- ExpectedRevenue Field -->
                  <div
                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                    >
                    <label for="dataModel.expectedRevenue" class="color-highlight">{{
                      fieldsInfo["expectedRevenue"]?.fieldTitle
                    }}</label>
                    <input
                      matInput
                      type="number"
                      [(ngModel)]="dataModel.expectedRevenue"
                      name="dataModel.expectedRevenue"
                      #ExpectedRevenue
                      placeholder="{{ fieldsInfo['expectedRevenue']?.fieldTitle }}"
                      [disabled]="!fieldsInfo['expectedRevenue']?.accessAddField"
                      class="form-control validate-name"
                      id="dataModel.expectedRevenue"
                      />
                    </div>
                    <!-- CampaignNo Field -->
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.campaignNo" class="color-highlight">{{
                        fieldsInfo["campaignNo"]?.fieldTitle || "TITLE.Campaign_Number"
                      }}</label>
                      <input
                        matInput
                        type="text"
                        [(ngModel)]="dataModel.campaignNo"
                        name="dataModel.campaignNo"
                        #CampaignNo
                        placeholder="{{ 'TITLE.Campaign_Number' | translate }}"
                        maxlength="100"
                        [disabled]="!fieldsInfo['campaignNo']?.accessAddField"
                        class="form-control validate-name"
                        id="dataModel.campaignNo"
                        />
                      </div>
                      <!-- NumSent Field -->
                      <div
                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                        >
                        <label for="dataModel.numSent" class="color-highlight">{{
                          fieldsInfo["numSent"]?.fieldTitle || "TITLE.Number_Sent"
                        }}</label>
                        <input
                          matInput
                          type="number"
                          [(ngModel)]="dataModel.numSent"
                          name="dataModel.numSent"
                          #NumSent
                          placeholder="{{ 'TITLE.Number_Sent' | translate }}"
                          [disabled]="!fieldsInfo['numSent']?.accessAddField"
                          class="form-control validate-name"
                          id="dataModel.numSent"
                          />
                        </div>
                        <!-- Sponsor Field -->
                        <div
                          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                          >
                          <label for="dataModel.sponsor" class="color-highlight">{{
                            fieldsInfo["sponsor"]?.fieldTitle || "TITLE.Sponsor"
                          }}</label>
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="dataModel.sponsor"
                            name="dataModel.sponsor"
                            #Sponsor
                            placeholder="{{ 'TITLE.Sponsor' | translate }}"
                            maxlength="255"
                            [disabled]="!fieldsInfo['sponsor']?.accessAddField"
                            class="form-control validate-name"
                            id="dataModel.sponsor"
                            />
                          </div>
                          <!-- TargetAudience Field -->
                          <div
                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                            >
                            <label for="dataModel.targetAudience" class="color-highlight">{{
                              fieldsInfo["targetAudience"]?.fieldTitle || "TITLE.Target_Audience"
                            }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="dataModel.targetAudience"
                              name="dataModel.targetAudience"
                              #TargetAudience
                              placeholder="{{ 'TITLE.Target_Audience' | translate }}"
                              maxlength="255"
                              [disabled]="!fieldsInfo['targetAudience']?.accessAddField"
                              class="form-control validate-name"
                              id="dataModel.targetAudience"
                              />
                            </div>
                            <!-- TargetSize Field -->
                            <div
                              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                              >
                              <label for="dataModel.targetSize" class="color-highlight">{{
                                fieldsInfo["targetSize"]?.fieldTitle || "TITLE.Target_Size"
                              }}</label>
                              <input
                                matInput
                                type="number"
                                [(ngModel)]="dataModel.targetSize"
                                name="dataModel.targetSize"
                                #TargetSize
                                placeholder="{{ 'TITLE.Target_Size' | translate }}"
                                [disabled]="!fieldsInfo['targetSize']?.accessAddField"
                                class="form-control validate-name"
                                id="dataModel.targetSize"
                                />
                              </div>
                              <!-- ExpectedResponseCount Field -->
                              <div
                                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                >
                                <label for="dataModel.expectedResponseCount" class="color-highlight">{{
                                  fieldsInfo["expectedResponseCount"]?.fieldTitle || "TITLE.Expected_Response_Count"
                                }}</label>
                                <input
                                  matInput
                                  type="number"
                                  [(ngModel)]="dataModel.expectedResponseCount"
                                  name="dataModel.expectedResponseCount"
                                  #ExpectedResponseCount
                                  placeholder="{{ 'TITLE.Expected_Response_Count' | translate }}"
                                  [disabled]="!fieldsInfo['expectedResponseCount']?.accessAddField"
                                  class="form-control validate-name"
                                  id="dataModel.expectedResponseCount"
                                  />
                                </div>
                                <!-- ExpectedSalesCount Field -->
                                <div
                                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                  >
                                  <label for="dataModel.expectedSalesCount" class="color-highlight">{{
                                    fieldsInfo["expectedSalesCount"]?.fieldTitle || "TITLE.Expected_Sales_Count"
                                  }}</label>
                                  <input
                                    matInput
                                    type="number"
                                    [(ngModel)]="dataModel.expectedSalesCount"
                                    name="dataModel.expectedSalesCount"
                                    #ExpectedSalesCount
                                    placeholder="{{ 'TITLE.Expected_Sales_Count' | translate }}"
                                    [disabled]="!fieldsInfo['expectedSalesCount']?.accessAddField"
                                    class="form-control validate-name"
                                    id="dataModel.expectedSalesCount"
                                    />
                                  </div>
                                  <!-- ActualResponseCount Field -->
                                  <div
                                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                    >
                                    <label for="dataModel.actualResponseCount" class="color-highlight">{{
                                      fieldsInfo["actualResponseCount"]?.fieldTitle || "TITLE.Actual_Response_Count"
                                    }}</label>
                                    <input
                                      matInput
                                      type="number"
                                      [(ngModel)]="dataModel.actualResponseCount"
                                      name="dataModel.actualResponseCount"
                                      #ActualResponseCount
                                      placeholder="{{ 'TITLE.Actual_Response_Count' | translate }}"
                                      [disabled]="!fieldsInfo['actualResponseCount']?.accessAddField"
                                      class="form-control validate-name"
                                      id="dataModel.actualResponseCount"
                                      />
                                    </div>
                                    <!-- ActualSalesCount Field -->
                                    <div
                                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                      >
                                      <label for="dataModel.actualSalesCount" class="color-highlight">{{
                                        fieldsInfo["actualSalesCount"]?.fieldTitle || "TITLE.Actual_Sales_Count"
                                      }}</label>
                                      <input
                                        matInput
                                        type="number"
                                        [(ngModel)]="dataModel.actualSalesCount"
                                        name="dataModel.actualSalesCount"
                                        #ActualSalesCount
                                        placeholder="{{ 'TITLE.Actual_Sales_Count' | translate }}"
                                        [disabled]="!fieldsInfo['actualSalesCount']?.accessAddField"
                                        class="form-control validate-name"
                                        id="dataModel.actualSalesCount"
                                        />
                                      </div>
                                      <!-- ActualRoi Field -->
                                      <div
                                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                        >
                                        <label for="dataModel.actualRoi" class="color-highlight">{{
                                          fieldsInfo["actualRoi"]?.fieldTitle || "TITLE.Actual_ROI"
                                        }}</label>
                                        <input
                                          matInput
                                          type="number"
                                          [(ngModel)]="dataModel.actualRoi"
                                          name="dataModel.actualRoi"
                                          #ActualRoi
                                          placeholder="{{ 'TITLE.Actual_ROI' | translate }}"
                                          [disabled]="!fieldsInfo['actualRoi']?.accessAddField"
                                          class="form-control validate-name"
                                          id="dataModel.actualRoi"
                                          />
                                        </div>
                                        <!-- ClosingDate Field -->
                                        <div
                                          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                          >
                                          <label for="dataModel.closingDate" class="color-highlight">{{
                                            fieldsInfo["closingDate"]?.fieldTitle || "TITLE.Closing_Date"
                                          }}</label>
                                          <input
                                            matInput
                                            type="date"
                                            [(ngModel)]="dataModel.closingDate"
                                            name="dataModel.closingDate"
                                            #ClosingDate
                                            placeholder="{{ 'TITLE.Closing_Date' | translate }}"
                                            [disabled]="!fieldsInfo['closingDate']?.accessAddField"
                                            class="form-control validate-name"
                                            id="dataModel.closingDate"
                                            />
                                          </div>
                                          <!-- Description Field -->
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.description" class="color-highlight">{{
                        fieldsInfo["description"]?.fieldTitle
                      }}</label>
                      <textarea
                        matInput
                        [(ngModel)]="dataModel.description"
                        name="dataModel.description"
                        #Description
                        placeholder="{{ fieldsInfo['description']?.fieldTitle }}"
                        rows="4"
                        [disabled]="!fieldsInfo['description']?.accessAddField"
                        class="form-control validate-name"
                        id="dataModel.description"
                        ></textarea>
                      </div>
                      <!-- Submit Button -->
                      <div class="form-button-group">
                        <button
                          type="submit"
                          [disabled]="formInfo.submitButtonEnabled == false"
                          class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-green-dark"
                          >
                          {{ "ACTION.SAVE" | translate }}
                        </button>
                        <button
                          type="button"
                          (click)="onFormCancel()"
                          class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-red-dark"
                          >
                          {{ "ACTION.CANCEL" | translate }}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

