<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>
    <h4>{{ "TITLE.DATA_PROVIDER_SOURCE_COMPANY" | translate }}</h4>

    <p>
      {{ "TITLE.DATA_PROVIDER_SOURCE_COMPANY_DESCRIPTION" | translate }}
    </p>
    <!--content-->
    <app-cms-form-result-message
      [formInfo]="formInfo"
    ></app-cms-form-result-message>
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      @if (fieldsInfo['recordStatus']?.accessWatchField) {
        <app-cms-enum-record-status-selector
          [(model)]="dataModel.recordStatus"
          [optionDisabled]="false"
          [optionLabel]="fieldsInfo['recordStatus']?.fieldTitle"
          [optionRequired]="true"
          [optionSelectFirstItem]="true"
        ></app-cms-enum-record-status-selector>
      }

      <!-- Title Field -->
      @if (fieldsInfo['title']?.accessWatchField) {
        <div
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
          >
          <label for="dataModel.title" class="color-highlight">{{
            fieldsInfo["title"]?.fieldTitle
          }}</label>
          <input
            matInput
            type="text"
            [(ngModel)]="dataModel.title"
            name="dataModel.title"
            #Title
            type="text"
            placeholder="{{ fieldsInfo['title']?.fieldTitle }}"
            minlength="3"
            maxlength="100"
            required
            class="form-control validate-name"
            id="dataModel.title"
            />
            @if (!Title.value) {
              <i class="fa fa-times invalid color-red-dark"></i>
            }
            @if (Title.value) {
              <i class="fa fa-check valid color-green-dark"></i>
            }
            <em>{{ Title.value.length }} / 100</em>
            @if (Title.errors?.required) {
              <mat-error>
                Title is <strong>{{ "MESSAGE.required" | translate }}</strong>
              </mat-error>
            }
          </div>
        }
        <!-- CheckCredit Field -->
        @if (fieldsInfo['checkCredit']?.accessWatchField) {
          <div
            class="d-flex mb-3"
            >
            <div class="pt-1">
              <h5
                data-trigger-switch="dataModel.checkCredit"
                class="font-600 font-14"
                >
                {{ fieldsInfo["checkCredit"]?.fieldTitle }}
              </h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input
                  type="checkbox"
                  class="ios-input"
                  id="dataModel.checkCredit"
                  [(ngModel)]="dataModel.checkCredit"
                  name="dataModel.checkCredit"
                  />
                  <label
                    class="custom-control-label"
                    for="dataModel.checkCredit"
                  ></label>
                </div>
              </div>
            </div>
          }
          <!-- CalculateCredit Field -->
          @if (fieldsInfo['calculateCredit']?.accessWatchField) {
            <div
              class="d-flex mb-3"
              >
              <div class="pt-1">
                <h5
                  data-trigger-switch="dataModel.calculateCredit"
                  class="font-600 font-14"
                  >
                  {{ fieldsInfo["calculateCredit"]?.fieldTitle }}
                </h5>
              </div>
              <div class="ms-auto me-3 pe-2">
                <div class="custom-control ios-switch small-switch">
                  <input
                    type="checkbox"
                    class="ios-input"
                    id="dataModel.calculateCredit"
                    [(ngModel)]="dataModel.calculateCredit"
                    name="dataModel.calculateCredit"
                    />
                    <label
                      class="custom-control-label"
                      for="dataModel.calculateCredit"
                    ></label>
                  </div>
                </div>
              </div>
            }
            <!-- ServiceAvailableCredit Field -->
            @if (fieldsInfo['serviceAvailableCredit']?.accessWatchField) {
              <div
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                >
                <label for="dataModel.serviceAvailableCredit" class="color-highlight">{{
                  fieldsInfo["serviceAvailableCredit"]?.fieldTitle
                }}</label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="dataModel.serviceAvailableCredit"
                  currencyMask
                  name="dataModel.serviceAvailableCredit"
                  #ServiceAvailableCredit
                  type="number"
                  placeholder="0"
                  [disabled]="!fieldsInfo['serviceAvailableCredit']?.accessAddField"
                  required
                  class="form-control validate-name"
                  id="dataModel.serviceAvailableCredit"
                  />
                  @if (!ServiceAvailableCredit.value) {
                    <i
                      class="fa fa-times invalid color-red-dark"
                    ></i>
                  }
                  @if (ServiceAvailableCredit.value) {
                    <i
                      class="fa fa-check valid color-green-dark"
                    ></i>
                  }
                  @if (ServiceAvailableCredit.errors?.required) {
                    <mat-error>
                      {{ fieldsInfo["serviceAvailableCredit"]?.fieldTitle }} is
                      <strong>{{ "MESSAGE.required" | translate }}</strong>
                    </mat-error>
                  }
                </div>
              }
              <!-- ServiceSumCredit Field -->
              @if (fieldsInfo['serviceSumCredit']?.accessWatchField) {
                <div
                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                  >
                  <label for="dataModel.serviceSumCredit" class="color-highlight">{{
                    fieldsInfo["serviceSumCredit"]?.fieldTitle
                  }}</label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="dataModel.serviceSumCredit"
                    name="dataModel.serviceSumCredit"
                    currencyMask
                    #ServiceSumCredit
                    type="number"
                    placeholder="0"
                    [disabled]="!fieldsInfo['serviceSumCredit']?.accessAddField"
                    required
                    class="form-control validate-name"
                    id="dataModel.serviceSumCredit"
                    />
                    @if (!ServiceSumCredit.value) {
                      <i
                        class="fa fa-times invalid color-red-dark"
                      ></i>
                    }
                    @if (ServiceSumCredit.value) {
                      <i
                        class="fa fa-check valid color-green-dark"
                      ></i>
                    }
                    @if (ServiceSumCredit.errors?.required) {
                      <mat-error>
                        {{ fieldsInfo["serviceSumCredit"]?.fieldTitle }} is
                        <strong>{{ "MESSAGE.required" | translate }}</strong>
                      </mat-error>
                    }
                  </div>
                }
                <!-- UserAvailableCredit Field -->
                @if (fieldsInfo['userAvailableCredit']?.accessWatchField) {
                  <div
                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                    >
                    <label for="dataModel.userAvailableCredit" class="color-highlight">{{
                      fieldsInfo["userAvailableCredit"]?.fieldTitle
                    }}</label>
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="dataModel.userAvailableCredit"
                      name="dataModel.userAvailableCredit"
                      currencyMask
                      #UserAvailableCredit
                      type="number"
                      placeholder="0"
                      [disabled]="!fieldsInfo['userAvailableCredit']?.accessAddField"
                      required
                      class="form-control validate-name"
                      id="dataModel.userAvailableCredit"
                      />
                      @if (!UserAvailableCredit.value) {
                        <i
                          class="fa fa-times invalid color-red-dark"
                        ></i>
                      }
                      @if (UserAvailableCredit.value) {
                        <i
                          class="fa fa-check valid color-green-dark"
                        ></i>
                      }
                      @if (UserAvailableCredit.errors?.required) {
                        <mat-error>
                          {{ fieldsInfo["userAvailableCredit"]?.fieldTitle }} is
                          <strong>{{ "MESSAGE.required" | translate }}</strong>
                        </mat-error>
                      }
                    </div>
                  }
                  <!-- UserSumCredit Field -->
                  @if (fieldsInfo['userSumCredit']?.accessWatchField) {
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.userSumCredit" class="color-highlight">{{
                        fieldsInfo["userSumCredit"]?.fieldTitle
                      }}</label>
                      <input
                        matInput
                        type="text"
                        [(ngModel)]="dataModel.userSumCredit"
                        name="dataModel.userSumCredit"
                        currencyMask
                        #UserSumCredit
                        type="number"
                        placeholder="0"
                        [disabled]="!fieldsInfo['userSumCredit']?.accessAddField"
                        required
                        class="form-control validate-name"
                        id="dataModel.userSumCredit"
                        />
                        @if (!UserSumCredit.value) {
                          <i
                            class="fa fa-times invalid color-red-dark"
                          ></i>
                        }
                        @if (UserSumCredit.value) {
                          <i
                            class="fa fa-check valid color-green-dark"
                          ></i>
                        }
                        @if (UserSumCredit.errors?.required) {
                          <mat-error>
                            {{ fieldsInfo["userSumCredit"]?.fieldTitle }} is
                            <strong>{{ "MESSAGE.required" | translate }}</strong>
                          </mat-error>
                        }
                      </div>
                    }
                    <!-- Description Field -->
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.description" class="color-highlight">{{
                        fieldsInfo["description"]?.fieldTitle
                      }}</label>
                      <textarea
                        matInput
                        [(ngModel)]="dataModel.description"
                        name="dataModel.description"
                        #Description
                        type="text"
                        placeholder="{{ fieldsInfo['description']?.fieldTitle }}"
                        minlength="1"
                        maxlength="500"
                        rows="5"
                        id="dataModel.description"
                        class="form-control validate-name"
                      ></textarea>
                      <em>{{ Description.value.length }} / 500</em>
                      @if (Description.errors?.required) {
                        <mat-error>
                          Description is <strong>{{ "MESSAGE.required" | translate }}</strong>
                        </mat-error>
                      }
                    </div>
                    <!-- LinkMainImageId Field -->
                    <div class="mb-3">
                      <a
                        href="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
                        target="_blank"
                        >
                        @if (dataModel?.linkMainImageIdSrc?.length > 0) {
                          <img
                            style="vertical-align: middle"
                            class="ntk-hover-zoom"
                            aria-hidden
                            src="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
                            height="50"
                            width="50"
                            />
                        }
                      </a>
                    </div>
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label
                        (click)="fileManagerOpenForm = true"
                        for="dataModel.linkMainImageId"
                        class="color-highlight"
                        >{{ "TITLE.Icon_File" | translate }}</label
                        >
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="dataModel.linkMainImageId"
                          name="dataModel.linkMainImageId"
                          #LinkMainImageId
                          placeholder="{{ 'TITLE.Original_File_ID' | translate }}"
                          autocomplete="off"
                          (click)="fileManagerOpenForm = true"
                          class="form-control validate-name"
                          id="dataModel.linkMainImageId"
                          />
                          <cms-file-manager
                            (itemSelected)="onActionFileSelected($event)"
                            [language]="appLanguage"
                            [isPopup]="true"
                            [(openForm)]="fileManagerOpenForm"
                            [tree]="fileManagerTree"
                            [openFilemanagerButtonLabelKey]="'select'"
                            [openDirectUploadView]="true"
                            [selectFileType]="selectFileTypeMainImage"
                            [openFilemanagerButtonView]="false"
                            >
                          </cms-file-manager>
                        </div>
                        @if (formInfo.submitButtonEnabled) {
                          <div class="form-actions">
                            <button
                              type="button"
                              (click)="onFormCancel()"
                              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                              >
                              <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
                            </button>
                            <button
                              type="submit"
                              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                              [disabled]="!vform.form.valid"
                              >
                              <i class="fa fa-check-square-o"></i> {{ "ACTION.SAVE" | translate }}
                            </button>
                          </div>
                        }
                      </form>
                      <!--content-->
                    </div>
                  </div>

