<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId">
  </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <p>
      {{ "TITLE.Be_Careful_When_Entering_Information" | translate }}
    </p>
    <!--Content-->

    <app-cms-form-result-message
      [formInfo]="formInfo"
    ></app-cms-form-result-message>
    <form
      (ngSubmit)="onFormSubmit()"
      #vform="ngForm"
      [ngStyle]="{ direction: tokenInfo.access.direction }"
      >
      <!-- LinkMainImageId Field -->
      <div class="mb-3">
        <a
          href="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
          target="_blank"
          >
          @if (dataModel?.linkMainImageIdSrc?.length > 0) {
            <img
              style="vertical-align: middle"
              class="ntk-hover-zoom"
              aria-hidden
              src="{{ dataModel.linkMainImageIdSrc | cmsthumbnail }}"
              height="50"
              width="50"
              />
          }
        </a>
      </div>
      <div
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
        >
        <label for="dataModel.linkMainImageId" class="color-highlight">{{
          "MESSAGE.Photo" | translate
        }}</label>
        <input
          matInput
          type="text"
          [(ngModel)]="dataModel.linkMainImageId"
          name="dataModel.linkMainImageId"
          #LinkMainImageId
          placeholder="{{ 'TITLE.Original_File_ID' | translate }}"
          autocomplete="off"
          (click)="fileManagerOpenForm = true"
          class="form-control validate-name"
          id="dataModel.linkMainImageId"
          />
          <cms-file-manager
            (itemSelected)="onActionFileSelected($event)"
            [language]="appLanguage"
            [isPopup]="true"
            [openSelectFileDescription]="'TITLE.Select_Image' | translate"
            [(openForm)]="fileManagerOpenForm"
            [tree]="fileManagerTree"
            [openFilemanagerButtonLabelKey]="'select'"
            [openDirectUploadView]="true"
            [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"
            >
          </cms-file-manager>
        </div>
        <!-- Account Selector -->
        <app-crm-account-selector
          (optionChange)="onActionSelectorAccount($event)"
          [optionSelectForce]="dataModel.linkAccountId"
          [optionPlaceholder]="fieldsInfo['linkAccountId']?.fieldTitle || 'Account'"
          [optionDisabled]="!fieldsInfo['linkAccountId']?.accessAddField"
          ></app-crm-account-selector>
        <!-- FirstName Field -->
        <div
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
          >
          <label for="dataModel.firstName" class="color-highlight">{{
            fieldsInfo["firstName"]?.fieldTitle
          }}</label>
          <input
            matInput
            type="text"
            [(ngModel)]="dataModel.firstName"
            name="dataModel.firstName"
            #FirstName
            placeholder="{{ fieldsInfo['firstName']?.fieldTitle }}"
            maxlength="100"
            [disabled]="!fieldsInfo['firstName']?.accessAddField"
            class="form-control validate-name"
            id="dataModel.firstName"
            />
          </div>
          <!-- LastName Field -->
          <div
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
            >
            <label for="dataModel.lastName" class="color-highlight">{{
              fieldsInfo["lastName"]?.fieldTitle
            }}</label>
            <input
              matInput
              type="text"
              [(ngModel)]="dataModel.lastName"
              name="dataModel.lastName"
              #LastName
              placeholder="{{ fieldsInfo['lastName']?.fieldTitle }}"
              maxlength="100"
              [disabled]="!fieldsInfo['lastName']?.accessAddField"
              class="form-control validate-name"
              id="dataModel.lastName"
              />
            </div>
            <!-- FullName Field -->
            <div
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
              >
              <label for="dataModel.fullName" class="color-highlight">{{
                fieldsInfo["fullName"]?.fieldTitle
              }}</label>
              <input
                matInput
                type="text"
                [(ngModel)]="dataModel.fullName"
                name="dataModel.fullName"
                #FullName
                placeholder="{{ fieldsInfo['fullName']?.fieldTitle }}"
                maxlength="200"
                [disabled]="!fieldsInfo['fullName']?.accessAddField"
                class="form-control validate-name"
                id="dataModel.fullName"
                />
              </div>
              <!-- JobTitle Field -->
              <div
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                >
                <label for="dataModel.jobTitle" class="color-highlight">{{
                  fieldsInfo["jobTitle"]?.fieldTitle
                }}</label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="dataModel.jobTitle"
                  name="dataModel.jobTitle"
                  #JobTitle
                  placeholder="{{ fieldsInfo['jobTitle']?.fieldTitle }}"
                  maxlength="100"
                  [disabled]="!fieldsInfo['jobTitle']?.accessAddField"
                  class="form-control validate-name"
                  id="dataModel.jobTitle"
                  />
                </div>
                <!-- CompanyName Field -->
                <div
                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                  >
                  <label for="dataModel.companyName" class="color-highlight">{{
                    fieldsInfo["companyName"]?.fieldTitle
                  }}</label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="dataModel.companyName"
                    name="dataModel.companyName"
                    #CompanyName
                    placeholder="{{ fieldsInfo['companyName']?.fieldTitle }}"
                    maxlength="256"
                    [disabled]="!fieldsInfo['companyName']?.accessAddField"
                    class="form-control validate-name"
                    id="dataModel.companyName"
                    />
                  </div>
                  <!-- Email Field -->
                  <div
                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                    >
                    <label for="dataModel.email" class="color-highlight">{{
                      fieldsInfo["email"]?.fieldTitle
                    }}</label>
                    <input
                      matInput
                      type="email"
                      [(ngModel)]="dataModel.email"
                      name="dataModel.email"
                      #Email
                      placeholder="{{ fieldsInfo['email']?.fieldTitle }}"
                      maxlength="256"
                      [disabled]="!fieldsInfo['email']?.accessAddField"
                      class="form-control validate-name"
                      id="dataModel.email"
                      />
                    </div>
                    <!-- Phone Field -->
                    <div
                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                      >
                      <label for="dataModel.phone" class="color-highlight">{{
                        fieldsInfo["phone"]?.fieldTitle
                      }}</label>
                      <input
                        matInput
                        type="text"
                        [(ngModel)]="dataModel.phone"
                        name="dataModel.phone"
                        #Phone
                        placeholder="{{ fieldsInfo['phone']?.fieldTitle }}"
                        maxlength="50"
                        [disabled]="!fieldsInfo['phone']?.accessAddField"
                        class="form-control validate-name"
                        id="dataModel.phone"
                        />
                      </div>
                      <!-- Mobile Field -->
                      <div
                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                        >
                        <label for="dataModel.mobile" class="color-highlight">{{
                          fieldsInfo["mobile"]?.fieldTitle
                        }}</label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="dataModel.mobile"
                          name="dataModel.mobile"
                          #Mobile
                          placeholder="{{ fieldsInfo['mobile']?.fieldTitle }}"
                          maxlength="50"
                          [disabled]="!fieldsInfo['mobile']?.accessAddField"
                          class="form-control validate-name"
                          id="dataModel.mobile"
                          />
                        </div>
                        <!-- ContactNo Field -->
                        <div
                          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                          >
                          <label for="dataModel.contactNo" class="color-highlight">{{
                            fieldsInfo["contactNo"]?.fieldTitle || "TITLE.Contact_Number"
                          }}</label>
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="contactNo"
                            name="dataModel.contactNo"
                            #ContactNo
                            placeholder="{{ 'TITLE.Contact_Number' | translate }}"
                            maxlength="100"
                            [disabled]="!fieldsInfo['contactNo']?.accessAddField"
                            class="form-control validate-name"
                            id="dataModel.contactNo"
                            />
                          </div>
                          <!-- Department Field -->
                          <div
                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                            >
                            <label for="dataModel.department" class="color-highlight">{{
                              fieldsInfo["department"]?.fieldTitle || "TITLE.Department"
                            }}</label>
                            <input
                              matInput
                              type="text"
                              [(ngModel)]="dataModel.department"
                              name="dataModel.department"
                              #Department
                              placeholder="{{ 'TITLE.Department' | translate }}"
                              maxlength="30"
                              [disabled]="!fieldsInfo['department']?.accessAddField"
                              class="form-control validate-name"
                              id="dataModel.department"
                              />
                            </div>
                            <!-- Training Field -->
                            <div
                              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                              >
                              <label for="dataModel.training" class="color-highlight">{{
                                fieldsInfo["training"]?.fieldTitle || "TITLE.Training"
                              }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.training"
                                name="dataModel.training"
                                #Training
                                placeholder="{{ 'TITLE.Training' | translate }}"
                                maxlength="50"
                                [disabled]="!fieldsInfo['training']?.accessAddField"
                                class="form-control validate-name"
                                id="dataModel.training"
                                />
                              </div>
                              <!-- UserType Field -->
                              <div
                                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                >
                                <label for="dataModel.userType" class="color-highlight">{{
                                  fieldsInfo["userType"]?.fieldTitle || "TITLE.User_Type"
                                }}</label>
                                <input
                                  matInput
                                  type="text"
                                  [(ngModel)]="dataModel.userType"
                                  name="dataModel.userType"
                                  #UserType
                                  placeholder="{{ 'TITLE.User_Type' | translate }}"
                                  maxlength="50"
                                  [disabled]="!fieldsInfo['userType']?.accessAddField"
                                  class="form-control validate-name"
                                  id="dataModel.userType"
                                  />
                                </div>
                                <!-- ContactType Field -->
                                <div
                                  class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                  >
                                  <label for="dataModel.contactType" class="color-highlight">{{
                                    fieldsInfo["contactType"]?.fieldTitle || "TITLE.Contact_Type"
                                  }}</label>
                                  <input
                                    matInput
                                    type="text"
                                    [(ngModel)]="dataModel.contactType"
                                    name="dataModel.contactType"
                                    #ContactType
                                    placeholder="{{ 'TITLE.Contact_Type' | translate }}"
                                    maxlength="50"
                                    [disabled]="!fieldsInfo['contactType']?.accessAddField"
                                    class="form-control validate-name"
                                    id="dataModel.contactType"
                                    />
                                  </div>
                                  <!-- OtherEmail Field -->
                                  <div
                                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                    >
                                    <label for="dataModel.otherEmail" class="color-highlight">{{
                                      fieldsInfo["otherEmail"]?.fieldTitle || "TITLE.Other_Email"
                                    }}</label>
                                    <input
                                      matInput
                                      type="email"
                                      [(ngModel)]="dataModel.otherEmail"
                                      name="dataModel.otherEmail"
                                      #OtherEmail
                                      placeholder="{{ 'TITLE.Other_Email' | translate }}"
                                      maxlength="256"
                                      [disabled]="!fieldsInfo['otherEmail']?.accessAddField"
                                      class="form-control validate-name"
                                      id="dataModel.otherEmail"
                                      />
                                    </div>
                                    <!-- HomePhone Field -->
                                    <div
                                      class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                      >
                                      <label for="dataModel.homePhone" class="color-highlight">{{
                                        fieldsInfo["homePhone"]?.fieldTitle || "TITLE.Home_Phone"
                                      }}</label>
                                      <input
                                        matInput
                                        type="text"
                                        [(ngModel)]="dataModel.homePhone"
                                        name="dataModel.homePhone"
                                        #HomePhone
                                        placeholder="{{ 'TITLE.Home_Phone' | translate }}"
                                        maxlength="128"
                                        [disabled]="!fieldsInfo['homePhone']?.accessAddField"
                                        class="form-control validate-name"
                                        id="dataModel.homePhone"
                                        />
                                      </div>
                                      <!-- Assistant Field -->
                                      <div
                                        class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                        >
                                        <label for="dataModel.assistant" class="color-highlight">{{
                                          fieldsInfo["assistant"]?.fieldTitle || "TITLE.Assistant"
                                        }}</label>
                                        <input
                                          matInput
                                          type="text"
                                          [(ngModel)]="dataModel.assistant"
                                          name="dataModel.assistant"
                                          #Assistant
                                          placeholder="{{ 'TITLE.Assistant' | translate }}"
                                          maxlength="100"
                                          [disabled]="!fieldsInfo['assistant']?.accessAddField"
                                          class="form-control validate-name"
                                          id="dataModel.assistant"
                                          />
                                        </div>
                                        <!-- DoNotCall Field -->
                                        <div
                                          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                          >
                                          <label for="dataModel.doNotCall" class="color-highlight">{{
                                            fieldsInfo["doNotCall"]?.fieldTitle || "TITLE.Do_Not_Call"
                                          }}</label>
                                          <input
                                            matInput
                                            type="checkbox"
                                            [(ngModel)]="dataModel.doNotCall"
                                            name="dataModel.doNotCall"
                                            #DoNotCall
                                            [disabled]="!fieldsInfo['doNotCall']?.accessAddField"
                                            class="form-control validate-name"
                                            id="dataModel.doNotCall"
                                            />
                                          </div>
                                          <!-- EmailOptOut Field -->
                                          <div
                                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                            >
                                            <label for="dataModel.emailOptOut" class="color-highlight">{{
                                              fieldsInfo["emailOptOut"]?.fieldTitle || "TITLE.Email_Opt_Out"
                                            }}</label>
                                            <input
                                              matInput
                                              type="checkbox"
                                              [(ngModel)]="dataModel.emailOptOut"
                                              name="dataModel.emailOptOut"
                                              #EmailOptOut
                                              [disabled]="!fieldsInfo['emailOptOut']?.accessAddField"
                                              class="form-control validate-name"
                                              id="dataModel.emailOptOut"
                                              />
                                            </div>
                                            <!-- Reference Field -->
                                            <div
                                              class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                              >
                                              <label for="dataModel.reference" class="color-highlight">{{
                                                fieldsInfo["reference"]?.fieldTitle || "TITLE.Reference"
                                              }}</label>
                                              <input
                                                matInput
                                                type="checkbox"
                                                [(ngModel)]="dataModel.reference"
                                                name="dataModel.reference"
                                                #Reference
                                                [disabled]="!fieldsInfo['reference']?.accessAddField"
                                                class="form-control validate-name"
                                                id="dataModel.reference"
                                                />
                                              </div>
                                              <!-- NotifyOwner Field -->
                                              <div
                                                class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                                                >
                                                <label for="dataModel.notifyOwner" class="color-highlight">{{
                                                  fieldsInfo["notifyOwner"]?.fieldTitle || "TITLE.Notify_Owner"
                                                }}</label>
                                                <input
                                                  matInput
                                                  type="checkbox"
                                                  [(ngModel)]="dataModel.notifyOwner"
                                                  name="dataModel.notifyOwner"
                                                  #NotifyOwner
                                                  [disabled]="!fieldsInfo['notifyOwner']?.accessAddField"
                                                  class="form-control validate-name"
                                                  id="dataModel.notifyOwner"
                                                  />
                                                </div>
                                                <!-- Description Field -->
                        <div
                          class="input-style has-borders no-icon input-style-always-active validate-field mb-4"
                          >
                          <label for="dataModel.description" class="color-highlight">{{
                            fieldsInfo["description"]?.fieldTitle
                          }}</label>
                          <textarea
                            matInput
                            [(ngModel)]="dataModel.description"
                            name="dataModel.description"
                            #Description
                            placeholder="{{ fieldsInfo['description']?.fieldTitle }}"
                            rows="4"
                            [disabled]="!fieldsInfo['description']?.accessAddField"
                            class="form-control validate-name"
                            id="dataModel.description"
                            ></textarea>
                          </div>

                          <!-- Mailing Address Section -->
                          <div class="mb-4">
                            <h5 class="color-highlight mb-3">{{ "TITLE.Mailing_Address" | translate }}</h5>

                            <!-- Mailing Street Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingStreet" class="color-highlight">{{ "TITLE.Street" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingStreet"
                                name="dataModel.mailingStreet"
                                #MailingStreet
                                placeholder="{{ 'TITLE.Street' | translate }}"
                                maxlength="250"
                                class="form-control validate-name"
                                id="dataModel.mailingStreet"
                              />
                            </div>

                            <!-- Mailing City Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingCity" class="color-highlight">{{ "TITLE.City" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingCity"
                                name="dataModel.mailingCity"
                                #MailingCity
                                placeholder="{{ 'TITLE.City' | translate }}"
                                maxlength="40"
                                class="form-control validate-name"
                                id="dataModel.mailingCity"
                              />
                            </div>

                            <!-- Mailing State Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingState" class="color-highlight">{{ "TITLE.State" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingState"
                                name="dataModel.mailingState"
                                #MailingState
                                placeholder="{{ 'TITLE.State' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.mailingState"
                              />
                            </div>

                            <!-- Mailing Zip Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingZip" class="color-highlight">{{ "TITLE.Postal_Code" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingZip"
                                name="dataModel.mailingZip"
                                #MailingZip
                                placeholder="{{ 'TITLE.Postal_Code' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.mailingZip"
                              />
                            </div>

                            <!-- Mailing Country Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingCountry" class="color-highlight">{{ "TITLE.Country" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingCountry"
                                name="dataModel.mailingCountry"
                                #MailingCountry
                                placeholder="{{ 'TITLE.Country' | translate }}"
                                maxlength="40"
                                class="form-control validate-name"
                                id="dataModel.mailingCountry"
                              />
                            </div>

                            <!-- Mailing PoBox Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.mailingPoBox" class="color-highlight">{{ "TITLE.PO_Box" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.mailingPoBox"
                                name="dataModel.mailingPoBox"
                                #MailingPoBox
                                placeholder="{{ 'TITLE.PO_Box' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.mailingPoBox"
                              />
                            </div>
                          </div>

                          <!-- Other Address Section -->
                          <div class="mb-4">
                            <h5 class="color-highlight mb-3">{{ "TITLE.Other_Address" | translate }}</h5>

                            <!-- Other Street Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherStreet" class="color-highlight">{{ "TITLE.Street" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherStreet"
                                name="dataModel.otherStreet"
                                #OtherStreet
                                placeholder="{{ 'TITLE.Street' | translate }}"
                                maxlength="250"
                                class="form-control validate-name"
                                id="dataModel.otherStreet"
                              />
                            </div>

                            <!-- Other City Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherCity" class="color-highlight">{{ "TITLE.City" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherCity"
                                name="dataModel.otherCity"
                                #OtherCity
                                placeholder="{{ 'TITLE.City' | translate }}"
                                maxlength="40"
                                class="form-control validate-name"
                                id="dataModel.otherCity"
                              />
                            </div>

                            <!-- Other State Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherState" class="color-highlight">{{ "TITLE.State" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherState"
                                name="dataModel.otherState"
                                #OtherState
                                placeholder="{{ 'TITLE.State' | translate }}"
                                maxlength="50"
                                class="form-control validate-name"
                                id="dataModel.otherState"
                              />
                            </div>

                            <!-- Other Zip Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherZip" class="color-highlight">{{ "TITLE.Postal_Code" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherZip"
                                name="dataModel.otherZip"
                                #OtherZip
                                placeholder="{{ 'TITLE.Postal_Code' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.otherZip"
                              />
                            </div>

                            <!-- Other Country Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherCountry" class="color-highlight">{{ "TITLE.Country" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherCountry"
                                name="dataModel.otherCountry"
                                #OtherCountry
                                placeholder="{{ 'TITLE.Country' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.otherCountry"
                              />
                            </div>

                            <!-- Other PoBox Field -->
                            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                              <label for="dataModel.otherPoBox" class="color-highlight">{{ "TITLE.PO_Box" | translate }}</label>
                              <input
                                matInput
                                type="text"
                                [(ngModel)]="dataModel.otherPoBox"
                                name="dataModel.otherPoBox"
                                #OtherPoBox
                                placeholder="{{ 'TITLE.PO_Box' | translate }}"
                                maxlength="30"
                                class="form-control validate-name"
                                id="dataModel.otherPoBox"
                              />
                            </div>
                          </div>

                          <!-- Submit Button -->
                          <div class="form-button-group">
                            <button
                              type="submit"
                              [disabled]="formInfo.submitButtonEnabled == false"
                              class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-green-dark"
                              >
                              {{ "ACTION.SAVE" | translate }}
                            </button>
                            <button
                              type="button"
                              (click)="onFormCancel()"
                              class="btn btn-m btn-full mb-4 rounded-s shadow-l bg-red-dark"
                              >
                              {{ "ACTION.CANCEL" | translate }}
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
