<app-cms-html-list-mobile
  [optionsListInfoAreaId]="constructorInfoAreaId"
  [optionGuideNoticeKey]="'core.module-sale.invoice.list'"
  [(optionActionGuideNoticeDisplay)]="viewGuideNotice"
  (optionOnActionButtonMemoRow)="onActionButtonMemoRow()"
  (optionOnActionButtonMemo)="onActionButtonMemo()"
  (optionOnActionButtonExport)="onActionButtonExport()"
  (optionOnActionButtonPrintRow)="onActionButtonPrintRow()"
  [optionTreeDisplay]="false"
  [optionActionRowId]="tableRowSelected?.id"
  [optionActionRowDisplay]="tableRowSelected?.id > 0"
  [optionActionRowDisplayMenu]="tableRowSelect2Click"
  [optionActionRowDisplayMenuAct]="tableRowSelectActionMenuClick"
  [optionSelectRowItemTitle]="tableRowSelected?.id"
  (optionOnScrollNearBottom)="onActionLoadNextPage()"
>
  <ng-container cms-tree>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-tree-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-tree-->
  </ng-container>
  <ng-container cms-header>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </ng-container>
  <ng-container cms-action-header>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-header-->
  </ng-container>
  <ng-container cms-action-header-start>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-header-start-->
    <a
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="viewGuideNotice = !viewGuideNotice"
      target="_blank"
    >
      <i class="fa-solid fa-info font-18" style="color: #ffffff"></i>
    </a>
    <a
      type="button"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="onActionButtonReload()"
      target="_blank"
    >
      <i
        class="fa-solid fa-rotate-right font-18"
        style="color: #ffffff"
        [class.rotation360]="
          publicHelper.processService.process.inRunArea[constructorInfoAreaId]
        "
      ></i>
    </a>
    <a
      (click)="onActionGridExpandRows(true)"
      target="_blank"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
    >
      <i class="fa-solid fa-maximize font-18" style="color: #ffffff"></i>
    </a>
    <a
      (click)="onActionGridExpandRows(false)"
      target="_blank"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
    >
      <i class="fa-solid fa-minimize font-18" style="color: #ffffff"></i>
    </a>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-header-start-->
  </ng-container>
  <ng-container cms-action-header-end>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-header-end-->
    <a
      (click)="optionsSearch.data.show = !optionsSearch.data.show"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
    >
      <mat-slide-toggle [checked]="optionsSearch.data.show"></mat-slide-toggle
      >{{ "ACTION.SEARCH" | translate }}
    </a>
    <a
      (click)="onActionButtonStatist()"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
    >
      <mat-slide-toggle [checked]="optionsStatist.data.show"> </mat-slide-toggle
      >{{ "ACTION.STATIST" | translate }}
    </a>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-header-end-->
  </ng-container>
  <ng-container cms-action-main>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
  </ng-container>
  <ng-container cms-action-row>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-row-->
    @if (dataModelResult?.access?.accessWatchRow && tableRowSelected?.id > 0) {
      <div class="col-4">
        <a
          (click)="onActionButtonViewRow(tableRowSelected)"
          type="button"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
          target="_blank"
          ><i class="fa-solid fa-eye font-18" style="color: #ffffff"></i><br
        /></a>
        <p class="font-11 text-center opacity-70">
          {{ "ACTION.VIEW" | translate }}
        </p>
      </div>
    }
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-row-->
  </ng-container>
  <ng-container cms-action-area>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
    <app-cms-search-list [(options)]="optionsSearch"></app-cms-search-list>

    <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
  </ng-container>
  <ng-container cms-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- Mobile List View -->
    @if (dataModelResult?.listItems?.length) {
      <div class="cms-m-list">
        @for (row of dataModelResult.listItems; track row.id) {
          <div
            class="cms-m-list-item border-highlight"
            [class.selected]="row.id === tableRowSelected?.id"
            [class.bg-fade-highlight-light]="row.id === tableRowSelected?.id"
            (click)="onActionTableRowSelect(row, $event)"
            (rtclick)="onActionTableRowSelect(row, $event)"
            (mouseenter)="onActionTableRowMouseEnter(row)"
            (mouseleave)="onActionTableRowMouseLeave(row)"
            role="button"
            [attr.aria-label]="row.id"
            tabindex="0"
          >
            <div class="cms-m-list-item-image-placeholder">
              <i [ngClass]="row.recordStatus | statusIconClass" aria-hidden="true"></i>
            </div>
            <div class="cms-m-list-item-content">
              <div class="cms-m-list-item-title">ID: {{ row.id }}</div>
              @if (row.id) {
                <div class="cms-m-list-item-subtitle">
                  <i class="fa-solid fa-hashtag" aria-hidden="true"></i>
                  {{ fieldsInfo["id"]?.fieldTitle }}: {{ row.id }}
                </div>
              }
              @if (row.linkSiteIdBuyer) {
                <div class="cms-m-list-item-subtitle">
                  {{ fieldsInfo["linkSiteIdBuyer"]?.fieldTitle }}: {{ row.linkSiteIdBuyer | cmssiteinfo | async }}
                </div>
              }
              @if (row.createdDate) {
                <div class="cms-m-list-item-subtitle">
                  <i class="fa-solid fa-calendar" aria-hidden="true"></i>
                  {{ row.createdDate | localeDate }}
                </div>
              }
              @if (row.recordStatus !== undefined) {
                <div class="cms-m-list-item-subtitle">
                  <i [ngClass]="row.recordStatus | statusIconClass"></i>
                </div>
              }
              <!-- Expanded Detail (when row is expanded) -->
              @if (getRowExpanded(row)) {
                <div class="cms-m-list-item-expanded">
                  @if (row.updatedDate) {
                    <div class="cms-m-list-item-subtitle">
                      <i
                        class="fa-solid fa-calendar-check"
                        aria-hidden="true"
                      ></i>
                      {{ fieldsInfo["updatedDate"]?.fieldTitle }}:
                      {{ row.updatedDate | localeDate }}
                    </div>
                  }
                  <div class="cms-m-list-item-subtitle">
                    <span
                      class="navi-icon pointer"
                      [cdkCopyToClipboard]="row.id.toString()"
                      (click)="onActionCopied(); $event.stopPropagation()"
                    >
                      <i class="flaticon2-copy"></i>
                    </span>
                    ID: {{ row.id }}
                  </div>
                  @if (row.linkSiteIdBuyer) {
                    <div class="cms-m-list-item-subtitle">
                      {{ fieldsInfo["linkSiteIdBuyer"]?.fieldTitle }}: {{ row.linkSiteIdBuyer | cmssiteinfo | async }}
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="cms-m-empty">
        {{ "MESSAGE.NoRecord" | translate }}
      </div>
    }
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </ng-container>
  <ng-container cms-footer>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <mat-paginator
      #paginator
      [length]="dataModelResult.totalRowCount"
      [pageIndex]="dataModelResult.currentPageNumber - 1"
      [pageSize]="dataModelResult.rowPerPage"
      [pageSizeOptions]="[5, 10, 20, 100]"
      (page)="onTablePageingData($event)"
    ></mat-paginator>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </ng-container>
</app-cms-html-list-mobile>
